html {
    scroll-behavior: smooth
}

body {
    font-family: "Rubik", sans-serif;
}

.rightReserved p {
    color: white;
}

.row {
    margin: 0;
    padding: 0
}

a, button, div, h1, h2, h3, h4, h5, h6, p, span, ul {
    transition: background-color 1s ease-out
}

a {
    text-decoration: none !important
}

.nav-tabs {
    border-bottom: none;
}

.card {
    border-radius: 10px;
}

.card-img, .card-img-top, .vue-load-image img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-body {
    padding: 0.75rem;
}

.card-footer {
    padding: 0.75rem 10px;
}

.card-footer .btn-common {
    padding: 1px 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-blue {
    color: #0876ff;
}

.pagination {
    font-size: 14px;
}

.nav-tabs .nav-link {
    display: flex;
    cursor: pointer;
    background: transparent;
    color: white;
    padding: 15px 30px;
    border: none;
    align-items: center;
    justify-content: center;
}

.nav-tabs .nav-link img {

    width: 25px;
    margin-right: 6px;
}

.nav-tabs .nav-link.router-link-active {
    color: white !important;
    background: none;
    border-bottom: 4px solid white;

}

.liPostion {
    position: relative;
    top: 11px
}

.ptb20 {
    padding: 20px 0
}

.ptb {
    padding: 60px 0
}

.btn-common {
    padding: 10px 20px;
    color: #fff !important;
    text-decoration: none;
    background: linear-gradient(90deg, #e118e7, #7d02ff, #0876ff);
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.search {
    font-size: 14px;
    height: 38px;
    min-width: 300px;
}

.btn-outline-primary:hover {
    background: linear-gradient(90deg, #e118e7, #7d02ff, #0876ff);

}

.btn-common:hover {
    color: #fff
}

.btn-common:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    background: darkgray;
}

p {
    margin: 0
}

h1, h2, h3, h4, h5, h6 {
    margin: 0
}


.footer_main .rightReserved {
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%);
    font-size: 13px
}

.navbar {
    padding: 1.5rem 0;
}

.navbar_main form a, .navbar_main form p {
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px;
    color: white
}

.navbar_main .navbar-toggler {
    background: linear-gradient(90deg, #e118e7, #7d02ff, #0876ff)
}

.navbar_main .navbar-toggler .navbar-toggler-icon {
    -webkit-filter: invert(100);
    filter: invert(100)
}

.navbar_main .navbar-toggler:focus {
    box-shadow: none
}

.navbar_main .modal {
    background: rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

.navbar_main .modal .modal-dialog .modal-content {
    border-radius: 10px;
    overflow: hidden
}

.navbar_main .modal .modal-dialog .modal-content .modal-header {
    border-bottom: none
}

.navbar_main .modal .modal-dialog .modal-content .modal-header .modal-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

.navbar_main .modal .modal-dialog .modal-content .modal-header .btn-close {
    background: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px
}

.navbar_main .modal .modal-dialog .modal-content .modal-body button {
    background: #fbfcfa;
    border: 1px solid #f3faeb;
    box-sizing: border-box;
    border-radius: 10px
}

.navbar_main .modal .modal-dialog .modal-content .modal-body button p {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

.navbar_main .modal .modal-dialog .modal-content .modal-body button:hover {
    background: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

.navbar_main .modal .modal-dialog .modal-content .modal-body button:hover p {
    color: #fff
}

@media (max-width:601px) {
    .navbar_main .modal .modal-dialog .modal-content .modal-header .modal-title {
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
    }

    .navbar_main .btn-common {
        padding: 9px 0;
        color: #fff !important;
        text-decoration: none;
        font-size: 16px;
        width: 146px;
        border: none;
        border-radius: 8px;
        cursor: pointer
    }

    .navbar_main form a {
        margin-right: 0
    }

    .navbar_main form a, .navbar_main form p {
        font-weight: 500;
        font-size: 16px;
        color: white
    }

    .navbar_main form p {
        margin-right: 20px
    }

    .navbar_main .modal .modal-dialog .modal-content .modal-body button p {
        font-weight: 400;
        font-size: 22px;
        color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
    }

    .logoMobileHeight {
        height: 45px
    }
}

.stake_main {
    padding-bottom: 73px !important
}

.stake_main p {
    color: black;
}

.stake_main .topLinearCard p {
    font-size: 12px;
    color: white
}

.stake_main h3, .stake_main strong {
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

.stake_main .banner-heading h1 {
    color: #fff
}

.stake_main .banner-heading p {
    color: #fff;
    font-size: 14px
}

.stake_main .stake_card {
    border-radius: 10px;
    overflow: hidden
}

.stake_main .stake_card .stake_card_header {
    padding: 1px 0px;
    background: linear-gradient(90deg, #e118e7, #7d02ff, #0876ff);
}

.stake_main .stake_card .stake_card_body {
    padding: 30px 29px;
    background: #fff
}

.stake_main .stake_card .stake_card_body .stake_card_body_1 {
    border-bottom: 1px solid #0876ff
}

.stake_main .stake_card .stake_card_body .StakeUnstakeNavigation {
    border-bottom: 2px solid #0876ff;
    width: 257px
}

.stake_main .stake_card .stake_card_body .StakeUnstakeNavigation strong {
    color: #c2d4bb
}

.stake_main .stake_card .stake_card_body .StakeUnstakeNavigation li {
    cursor: pointer
}

.stake_main .stake_card .stake_card_body .StakeUnstakeNavigation .activenesssssss {
    margin-bottom: -2px;
    border-bottom: 3px solid #fc9004 !important
}

.stake_main .stake_card .stake_card_body .StakeUnstakeNavigation .common_btn_btn {
    border: none;
    font-weight: 700;
    color: black;
    background: transparent;
}

.stake_main .stake_card .stake_card_body .inputMax, .inputMax, textarea {
    display: flex;
    align-items: center;
    height: 38px;
    background: #fff;
    border: 1px solid rgba(35, 106, 10, .4);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 10px;
    width: 100%;
    position: relative
}

textarea {
    height: auto;
}

.stake_main .stake_card .stake_card_body .inputMax input, .inputMax input {
    width: 99%;
    font-weight: 600;
    font-size: 20px;
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%);
    border: none;
    outline: none;
    padding-right: 55px
}

.stake_main .stake_card .stake_card_body .inputMax input::-webkit-input-placeholder, .inputMax input::-webkit-input-placeholder {
    font-weight: 600;
    font-size: 20px;
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

.stake_main .stake_card .stake_card_body .inputMax input:-ms-input-placeholder {
    font-weight: 600;
    font-size: 20px;
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

.stake_main .stake_card .stake_card_body .inputMax input::placeholder {
    font-weight: 600;
    font-size: 20px;
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

.stake_main .stake_card .stake_card_body .inputMax button {
    padding: 4px 5px;
    width: 55px;
    position: absolute;
    right: 10px;
    font-size: 13px;
}

.stake_main .stake_card .stake_card_body .nav-pills .nav-link.active, .stake_main .stake_card .stake_card_body .nav-pills .show>.nav-link {
    background-color: transparent;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .15)
}

.stake_main .stake_card .stake_card_body .daysDiv {
    background: #fff;
    border: 1px solid #e9f1e7;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 12px;
    width: 100%;
    cursor: pointer
}

.stake_main .stake_card .stake_card_body .daysDiv h5 {
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

.stake_main .stake_card .stake_card_body .daysDiv:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .15)
}

.stake_main .stake_card .stake_card_body .referinputDiv p {
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%);
    font-weight: 700;
    font-size: 14px
}

.stake_main .stake_card .stake_card_body .referinputDiv input {
    height: 45px;
    background: #fff;
    border: 1px solid rgba(36, 106, 10, .068);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 20px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%);
    outline: none
}

.stake_main .stake_card .stake_card_body .referinputDiv input::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 13px;
    color: #0876ff
}

.stake_main .stake_card .stake_card_body .referinputDiv input:-ms-input-placeholder {
    font-weight: 500;
    font-size: 13px;
    color: #0876ff
}

.stake_main .stake_card .stake_card_body .referinputDiv input::placeholder {
    font-weight: 500;
    font-size: 13px;
    color: #0876ff
}

.stake_main .stake_card .stake_card_body .summaryBackground {
    background: #f8fcf2;
    border-radius: 10px;
    padding: 20px;
}

.stake_main .confirm-withdraw-div h2 {
    font-weight: 600;
    font-size: 27px
}

.stake_main .confirm-withdraw-div p {
    font-weight: 500;
    font-size: 16px
}

.stake_main .confirm-withdraw-div .color_gdd {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

@media (max-width:400px) {
    .stake_main .sdvcuidvgu {
        font-size: 16px
    }
}

.stake_main .modal {
    background: rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

.stake_main .modal .modal-dialog .modal-content {
    border-radius: 10px;
    overflow: hidden
}

.stake_main .modal .modal-dialog .modal-content .modal-header {
    border-bottom: none;
    position: relative
}

.stake_main .modal .modal-dialog .modal-content .modal-header .modal-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

.stake_main .modal .modal-dialog .modal-content .modal-header .btn-close {
    background: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 25px
}

.stake_main .modal .modal-dialog .modal-content .modal-body img {
    width: 90px
}

.stake_main .modal .modal-dialog .modal-content .modal-body .button1 {
    background: #bdd3b6;
    border: 1px solid #f3faeb;
    box-sizing: border-box;
    border-radius: 10px;
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%) !important
}

.stake_main .modal .modal-dialog .modal-content .modal-body .button1 p {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px
}

.staking_main {
    background: linear-gradient(294.72deg, #000000 9.05%, #644d01 79.28%);
    background-image: url(../assets/backgroun.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 86vh
}

.staking_main .banner-heading h1 {
    color: #fff
}

.staking_main .banner-heading .topLinearCard {
    background: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, .25);
    border-radius: 10px;
    padding: 35px 50px
}

.staking_main .banner-heading .topLinearCard p {
    color: #fbbd18
}

.staking_main .banner-heading .topLinearCard h3 {
    color: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

.staking_main .staking_card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid transparent
}

.staking_main .staking_card .staking_card_header {
    background: #0876ff;
    height: 98px
}

.staking_main .staking_card:hover {
    background: #fff;
    border: 3px solid #fbbd18;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
    border-radius: 10px
}

.staking_main .staking_card .staking_card_body {
    padding: 20px 29px;
    background: #fff
}

.staking_main .staking_card .staking_card_body .staking_card_body_1 {
    border-bottom: 1px solid #0876ff
}

.staking_main .staking_card .staking_card_body_2 .progress {
    background: rgba(35, 106, 10, .2);
    border-radius: 20px
}

.staking_main .staking_card .staking_card_body_2 .progress .progress-bar {
    background: linear-gradient(294.72deg, #0876ff 9.05%, #fc9004 79.28%)
}

.ai {
    margin-bottom: 10px;
}

.ai .nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.ai .nav-tabs .nav-link {
    color: black;
    cursor: pointer;
    font-size: 15px;
    padding: 7px 10px;
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.ai .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0876ff;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

@media (max-width:601px) {
    .staking_main .banner-heading .topLinearCard {
        padding: 15px
    }

    .container {
        padding-left: 0;
        padding-right: 0
    }
}

@media (max-width:601px) {
    .stake_main .stake_card .stake_card_body .summaryBackground {
        padding: 10px 0
    }

    .stake_main .stake_card .stake_card_body .summaryBackground button {
        width: auto
    }

    .stake_main .stake_card .stake_card_body .inputMax {
        padding: 0 10px
    }

    .stake_main .stake_card .stake_card_body .StakeUnstakeNavigation {
        border-bottom: 2px solid #0876ff;
        width: 100%
    }

    .stake_main .stake_card .stake_card_body {
        padding: 0;
        background: #fff
    }

    .stake_main .row {
        --bs-gutter-x: 0rem
    }
}

.pOnEnd {
    text-align: end
}

.global-bord {
    border: 2px solid #0876ff !important
}

.navbar-dark, .bg-dark {
    background-color: #000000 !important;
}

form {
    margin-bottom: 0;
}

.toasted-container .toasted {
    font-size: 16px !important;
    color: #fff !important;
    border: none !important;
    padding: 15px 20px !important;
    border-radius: 8px !important;
    background: linear-gradient(90deg, #e118e7, #7d02ff, #0876ff) !important;
}

@media (max-width:601px) {
    form.d-flex {
        display: block !important;
    }

    .h1, h1 {
        font-size: 2rem;
    }

    .navbar_main form a {
        display: block;
        padding: 10px 0;
    }

    .navbar_main form button {
        margin: 10px 0;

    }

    .container {
        padding-left: 0;
        padding-right: 0
    }
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}