<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>The Birth of Epiq Coin! World&#x27;s Best Community Coin</title>
    <meta
      name="description"
      content="Epiq Coin has learned a few tricks and lessons from his meme father, Shiba Coin. A new crypto birthed by fans &amp; members of the Shiba Coin online community. Epiq Coin seeks to impress his father by showing his new improved transaction speeds &amp; adorableness."
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="next-head-count" content="21" />
    <link
      rel="stylesheet"
      data-href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&amp;display=swap"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <style
      data-href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    >
      @font-face {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHvxo.woff)
          format("woff");
      }
      @font-face {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVeww.woff)
          format("woff");
      }
      @font-face {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2)
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2)
          format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2)
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
  </head>
  <body class="font-lato transition-all">
    <div id="app">
      <div
        class="bg-dark min-h-screen text-white text-lg overflow-hidden"
        style="background-image: url(&#x27;./assets/bg.png&#x27;)"
      >
        <div
          class="bg-logo bg-no-repeat bg-right bg-contain min-h-screen"
          style="
            background-image: url(./assets/logo.png);
            background-size: 50vw;
          "
        >
          <div class="container mx-auto px-4">
            <div class="flex justify-between py-4 items-center">
              <div class="flex items-center">
                <img src="/assets/logo.png" class="h-24" />
                <div
                  class="text-light font-bold ml-2 text-2xl lg:text-4xl"
                ></div>
              </div>
              <div class="space-x-8 hidden lg:block">
                <a href="#about" class="text-2xl hover:text-light">About</a
                ><a href="#features" class="text-2xl hover:text-light"
                  >Features</a
                ><a href="#airdrop" class="text-2xl hover:text-light">Airdrop</a
                ><a href="#roadmap" class="text-2xl hover:text-light"
                  >Roadmap</a
                >
              </div>
              <div>
                <a
                  href="#airdrop"
                  class="text-light bg-white px-4 py-2 rounded-2xl font-bold inline-block text-2xl hover:bg-light border-2 border-white hover:border-light hover:bg-transparent hover:text-white transition-all"
                  >Buy Now</a
                >
              </div>
            </div>
            <div
              class="w-full flex items-center flex-wrap min-h-[calc(100vh-96px)]"
            >
              <div class="w-full">
                <div class="w-full lg:w-1/2 pt-8">
                  <div
                    class="text-5xl text-light font-bold mb-4"
                    data-aos="fade-left"
                  >
                    Together let's grow the EPIQ
                  </div>
                  <div class="text-5xl mb-4 font-bold" data-aos="fade-right">
                    way without any nonsense.
                  </div>
                  <div
                    class="mb-4 bg-dark p-4 rounded bg-opacity-90 lg:p-0 lg:bg-transparent"
                    data-aos="fade-up"
                  >
                    Introducing Epiq Coin: The Future of Community-Driven
                    Cryptocurrency! <br />
                    Born out of the passion and expertise of a group of
                    cryptocurrency enthusiasts, Epiq Coin has set out to create
                    a new breed of digital currency. This innovative project
                    incorporates lightning-fast transaction speeds and a unique
                    hyper-deflationary model with an integrated smart staking
                    system that rewards holders. <br />
                    By holding Epiq Coin, you can watch your wallet grow with
                    each transaction, allowing you to accumulate more of this
                    exciting new currency over time. Whether you're a seasoned
                    investor or new to the world of decentralized finance, Epiq
                    Coin offers a compelling and rewarding way to participate in
                    the cryptocurrency ecosystem. <br />
                    <br />
                    Join us today and become a part of the Epiq Coin community –
                    the future of crypto is here!
                  </div>
                  <div class="mb-8" data-aos="fade-down">
                    <a
                      href="#airdrop"
                      class="inline-block py-2 px-4 rounded-xl border-2 border-white bg-white text-light font-bold hover:bg-transparent transition-all"
                      >Claim Airdrop</a
                    >
                  </div>
                </div>
              </div>
              <div class="w-full">
                <div
                  class="flex social space-x-8 pl-8 border-l-4 border-light items-center py-4"
                  data-aos="flip-up"
                >
                  <div>
                    <a
                      href="https://t.me/epiqcoin"
                      target="_blank"
                      class="w-20 h-20 bg-white rounded-2xl hover:bg-dark transition-all border-white border-2 flex items-center justify-center mb-2 mx-auto"
                      ><svg
                        stroke="currentColor"
                        fill="currentColor"
                        stroke-width="0"
                        viewBox="0 0 448 512"
                        class="w-16 h-16 text-light"
                        height="1em"
                        width="1em"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"
                        ></path></svg
                    ></a>
                    <div class="text-center text-gray-300">Telegram</div>
                  </div>
                  <div>
                    <a
                      href="https://twitter.com/EpiqCoin"
                      target="_blank"
                      class="w-20 h-20 bg-white rounded-2xl hover:bg-dark transition-all border-white border-2 flex items-center justify-center mb-2 mx-auto"
                      ><svg
                        stroke="currentColor"
                        fill="currentColor"
                        stroke-width="0"
                        viewBox="0 0 512 512"
                        class="w-16 h-16 text-light"
                        height="1em"
                        width="1em"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                        ></path></svg
                    ></a>
                    <div class="text-center text-gray-300">Twitter</div>
                  </div>
                  <div>
                    <a
                      href="https://www.instagram.com/epiq_coin/?igshid=YmMyMTA2M2Y%3D"
                      target="_blank"
                      class="w-20 h-20 bg-white rounded-2xl hover:bg-dark transition-all border-white border-2 flex items-center justify-center mb-2 mx-auto"
                    >
                      <img src="./assets/instagram.svg" alt="" />
                    </a>
                    <div class="text-center text-gray-300">Instagram</div>
                  </div>
                  <div>
                    <a
                      href="https://www.facebook.com/people/EPIQ-COIN/100091808870508/?mibextid=LQQJ4d"
                      target="_blank"
                      class="w-20 h-20 bg-white rounded-2xl hover:bg-dark transition-all border-white border-2 flex items-center justify-center mb-2 mx-auto"
                      ><?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                      <svg
                        enable-background="new 0 0 56.693 56.693"
                        height="56.693px"
                        fill="#b5822f"
                        id="Layer_1"
                        version="1.1"
                        viewBox="0 0 56.693 56.693"
                        width="56.693px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <path
                          d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z"
                        /></svg
                    ></a>
                    <div class="text-center text-gray-300">Facebook</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="features">
          <div class="container px-4 mx-auto py-16">
            <div
              class="bg-dark-2 shadow-inner flex rounded-r-full items-center flex-wrap"
              data-aos="fade-right"
            >
              <div class="bg-light px-8 py-4 rounded-l">
                <div class="text-3xl font-bold">Sumary</div>
              </div>
              <div class="flex-1 flex divide-x-2 divide-gray-500">
                <div class="flex-1 text-center">
                  <a
                    href="https://bscscan.com/token/0xa8dEf8B3a527B9011185AE77A4b72606FF78aF3f"
                    class="px-4 py-2 rounded-2xl border-2 border-light text-xl font-bold hover:bg-light transition-all"
                    target="_blank"
                    >BSC Scan</a
                  >
                </div>
              </div>
            </div>
            <div class="py-16">
              <div class="mb-8">
                <div class="text-light text-3xl mb-2" data-aos="fade-right">
                  Epiq Coin Features!
                </div>
                <div
                  class="text-light text-5xl font-bold mb-4"
                  data-aos="fade-right"
                  data-aos-delay="100"
                >
                  <span class="text-white">Grows</span> in your wallet
                </div>
                <div data-aos="fade-up" data-aos-delay="200">
                  With Epiq Coin, 1% of every transaction is automatically
                  redistributed to all Epiq Coin holders in $BNB. As an Epiq
                  Coin holder, you can access the Epiq Coin dashboard page to
                  collect your daily BNB earnings and watch your wallet grow
                  over time.
                </div>
              </div>
              <div class="grid grid-cols-6 gap-8">
                <div
                  class="col-span-6 lg:col-span-3 px-8 py-8 bg-dark-2 rounded-2xl bg-no-repeat bg-cover"
                  style="background-image: url(&#x27;./assets/bg-2.png&#x27;)"
                  data-aos="fade-up"
                  data-aos-delay="0"
                >
                  <img src="/assets/1.png" class="w-24 mx-auto mb-2" />
                  <div class="text-2xl font-bold text-center mb-4">
                    Earn $BNB by hodling $EpiqCoin
                  </div>
                  <div class="text-gray-300">
                    As an Epiq Coin holder, you can earn daily BNB rewards
                    simply by hodling your coins. With a unique
                    hyper-deflationary model, 1% of every Epiq Coin transaction
                    is automatically redistributed to all Epiq Coin holders in
                    BNB. This means that the more Epiq Coin you hold in your
                    wallet, the more BNB you can accumulate over time.
                  </div>
                </div>
                <div
                  class="col-span-6 lg:col-span-3 px-8 py-8 bg-dark-2 rounded-2xl bg-no-repeat bg-cover"
                  style="background-image: url(&#x27;./assets/bg-2.png&#x27;)"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <img src="/assets/2.png" class="w-24 mx-auto mb-2" />
                  <div class="text-2xl font-bold text-center mb-4">
                    Automatic Liquidity Pool
                  </div>
                  <div class="text-gray-300">
                    As an Epiq Coin holder, you can benefit from a unique
                    liquidity-generating feature built into the token's smart
                    contract. With every transaction, 2% is automatically
                    contributed towards generating further liquidity on
                    PancakeSwap. This not only benefits the broader Epiq Coin
                    community by ensuring that there is ample liquidity
                    available, but it also benefits long-term Epiq Coin holders
                    the most.
                  </div>
                </div>
                <div
                  class="col-span-6 lg:col-span-3 px-8 py-8 bg-dark-2 rounded-2xl bg-no-repeat bg-cover"
                  style="background-image: url(&#x27;./assets/bg-2.png&#x27;)"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <img src="/assets/3.png" class="w-24 mx-auto mb-2" />
                  <div class="text-2xl font-bold text-center mb-4">
                    RFI Static Rewards
                  </div>
                  <div class="text-gray-300">
                    Epiq Coin offers a unique model where 2% of every
                    transaction is automatically redistributed to all Epiq Coin
                    holders, including the burn address. This means that with
                    every transaction, the total supply of Epiq Coin is
                    gradually decreased, making each coin more valuable over
                    time.
                  </div>
                </div>
                <div
                  class="col-span-6 lg:col-span-3 px-8 py-8 bg-dark-2 rounded-2xl bg-no-repeat bg-cover"
                  style="background-image: url(&#x27;./assets/bg-2.png&#x27;)"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <img src="/assets/4.png" class="w-24 mx-auto mb-2" />
                  <div class="text-2xl font-bold text-center mb-4">
                    Inbuilt Anti-Whale Mechanism
                  </div>
                  <div class="text-gray-300">
                    Secure and Fair Trading with Epiq Coin Epiq Coin implements
                    a transaction limit to prevent market manipulation. Any
                    transaction over 0.1% of total supply is rejected. Transfers
                    between wallets over 0.1% are charged 1 BNB fee, which is
                    donated to charities. Join us for secure and fair trading
                    with Epiq Coin.
                  </div>
                </div>
                <div
                  class="col-span-6 lg:col-span-3 px-8 py-8 bg-dark-2 rounded-2xl bg-no-repeat bg-cover"
                  style="background-image: url(&#x27;./assets/bg-2.png&#x27;)"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <img src="/assets/5.png" class="w-24 mx-auto mb-2" />
                  <div class="text-2xl font-bold text-center mb-4">
                    Highly Secured
                  </div>
                  <div class="text-gray-300">
                    We take the security of our community seriously at Epiq
                    Coin. To ensure the safety and trust of our investors, we
                    have locked all initial liquidity provided with Unicrypt.
                    This means that the liquidity pool is secure and
                    transparent, and the contract is trustless for the Epiq Coin
                    community. We are committed to transparency and will be
                    releasing audit reports soon as they are under progress. You
                    can rest assured that your investments in Epiq Coin are
                    secure and that we are actively working to maintain the
                    highest levels of trust and safety for our community.
                  </div>
                </div>
                <div
                  class="col-span-6 lg:col-span-3 px-8 py-8 bg-dark-2 rounded-2xl bg-no-repeat bg-cover"
                  style="background-image: url(&#x27;./assets/bg-2.png&#x27;)"
                  data-aos="fade-up"
                  data-aos-delay="500"
                >
                  <img src="/assets/6.png" class="w-24 mx-auto mb-2" />
                  <div class="text-2xl font-bold text-center mb-4">
                    Built for the Community
                  </div>
                  <div class="text-gray-300">
                    At Epiq Coin, we are proud to be a community-driven token
                    built on the Binance Smart Chain. Our community is at the
                    heart of everything we do, and we are committed to building
                    a strong and supportive ecosystem that benefits all our
                    investors. We are excited to announce that the PCS launch
                    price for Epiq Coin will see at least a 10% uplift, with the
                    introduction of transaction fees. This is a testament to the
                    strength and potential of our community, and we are
                    confident that Epiq Coin will continue to grow and thrive in
                    the months and years to come.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="pt-8 py-16 bg-no-repeat bg-left-bottom"
          style="background-image: url(&#x27;./assets/bg-3.png&#x27;)"
          id="about"
        >
          <div class="container mx-auto px-4 pb-16">
            <div class="flex flex-wrap -mx-4 items-center">
              <div class="w-full lg:w-1/2 px-4 mb-16 lg:mb-0">
                <div
                  class="w-48 h-48 lg:w-96 lg:h-96 bg-dark-2 rounded-full relative flex items-center justify-center mx-auto"
                  data-aos="zoom-in"
                >
                  <div
                    class="-rotate-c absolute w-[120%] h-[120%] rounded-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-opacity-5 bg-no-repeat bg-contain bg-center"
                    style="background-image: url(./assets/circle-3.png)"
                  ></div>
                  <div
                    class="rotate-c absolute w-[110%] h-[110%] rounded-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-opacity-5 bg-no-repeat bg-contain bg-center"
                    style="background-image: url(./assets/circle-4.png)"
                  ></div>
                  <div class="text-center text-2xl lg:text-5xl">
                    <div class="font-bold">About</div>
                    <div class="font-bold text-light">EpiqCoin</div>
                  </div>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div class="text-3xl mb-4 font-bold" data-aos="fade-left">
                  The Next Generation of Digital Assets
                </div>
                <div data-aos="fade-right">
                  Epiq Coin is a cutting-edge cryptocurrency based on the
                  Binance Smart Chain. Our community-driven token is designed to
                  offer secure and transparent transactions, with a range of
                  innovative features that make it easy to buy, sell, and hold
                  digital assets. Join us today and experience the benefits of
                  decentralized finance with Epiq Coin.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-dark-2 bg-opacity-70" id="airdrop">
          <div class="container mx-auto px-4 py-16">
            <div
              class="text-5xl font-bold text-center mb-8"
              data-aos="fade-left"
            >
              EpiqCoin <span class="text-light">Airdrop</span>
            </div>
            <div class="mb-8">
              <div data-aos="fade-up" data-aos-delay="200">
                <div class="flex space-x-8 justify-center">
                  <div class="text-center">
                    <div id="Days" class="text-5xl text-light font-bold">0</div>
                    <div class="text-xl text-gray-500">Days</div>
                  </div>
                  <div class="text-center">
                    <div id="Hours" class="text-5xl text-light font-bold">
                      0
                    </div>
                    <div class="text-xl text-gray-500">Hours</div>
                  </div>
                  <div class="text-center">
                    <div id="Minutes" class="text-5xl text-light font-bold">
                      0
                    </div>
                    <div class="text-xl text-gray-500">Minutes</div>
                  </div>
                  <div class="text-center">
                    <div id="Seconds" class="text-5xl text-light font-bold">
                      0
                    </div>
                    <div class="text-xl text-gray-500">Seconds</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex -mx-4 flex-wrap">
              <div class="w-full lg:w-1/2 px-4">
                <div
                  class="bg-dark rounded px-8 py-8 mb-8"
                  data-aos="fade-right"
                  data-aos-delay="200"
                >
                  <div class="mb-8 text-2xl">
                    Epiqcoin Will be listed on CEX’S and pancakeswap exchange
                    after Presale end.
                  </div>
                  <div class="mb-4">
                    <div class="text-sm mb-2 text-gray-300">Enter BNB</div>
                    <input
                      v-model="buyAmount"
                      type="text"
                      class="px-4 py-4 border-2 border-light w-full bg-transparent rounded-xl text-light text-2xl focus:outline-none"
                      value="0.01"
                    />
                  </div>
                  <div class="mb-4">
                    <button
                      @click.prevent="tokenSale()"
                      class="px-4 py-2 rounded-xl border-2 border-light bg-light w-full flex items-center justify-center hover:bg-opacity-80"
                    >
                      <span class="text-2xl ml-2">Buy</span>
                    </button>
                  </div>
                  <div>
                    <button
                      @click.prevent="getAirdrop()"
                      class="px-4 py-2 rounded-xl border-2 border-white w-full flex items-center justify-center"
                    >
                      <span class="text-2xl ml-2">Claim Airdrop</span>
                    </button>
                  </div>
                </div>
                <div
                  class="bg-dark rounded px-8 py-8"
                  data-aos="fade-right"
                  data-aos-delay="200"
                >
                  <div>(*) Rate Sale: 0.01 BNB = 30,000,000 EpiqCoin</div>
                  <div>(*) Minium buy 0.01 BNB - 10 BNB</div>
                  <div>
                    (*) Your friends who buy through your link receive 100%
                    commission.
                  </div>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div>
                  <div
                    class="bg-dark rounded px-8 py-8 mb-8"
                    data-aos="fade-left"
                    data-aos-delay="200"
                  >
                    <div class="mb-8 text-2xl">
                      Refer your friends and claim bonus
                    </div>
                    <button
                      @click.prevent="copyText()"
                      class="px-4 py-4 rounded-xl border-2 border-light bg-light w-full flex items-center justify-center hover:bg-opacity-80 mb-4"
                    >
                      <span class="text-2xl ml-2">Get Referral Link</span>
                    </button>
                    <div class="text-sm text-gray-300 mb-2">
                      Your refer link:
                    </div>
                    <div>
                      <div
                        class="border border-gray-500 bg-dark px-4 py-4 rounded break-all cursor-pointer"
                      >
                        <div
                          class="text-center text-xs"
                          @click.prevent="copyText()"
                        >
                          Click to copy
                        </div>
                        <div v-if="walletAddress" class="break-all">
                          https://epiqcoin.com/?address={{walletAddress}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="bg-dark rounded px-8 py-8"
                    data-aos="fade-right"
                    data-aos-delay="200"
                  >
                    <div>(*) Referral friend claim 1,000,000 EpiqCoin</div>
                    <div>(*) You receive 1,000,000 EpiqCoin</div>
                    <div>(*) Referral no limit bonus.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-16" id="roadmap">
          <div class="container mx-auto px-4">
            <div
              class="mb-16 text-center text-5xl font-bold text-light"
              data-aos="fade-right"
            >
              Roadmap
            </div>
            <div class="splide py-4 aos-init aos-animate" data-aos="zoom-in">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="py-4">
                      <div class="text-xl -mt-4 font-bold mb-2">Phase 1</div>
                      <div class="h-2 bg-white relative ml-1 mb-8 w-[101%]">
                        <div
                          class="w-4 h-4 bg-light rounded-full absolute left-0 top-1/2 transform -translate-y-1/2 -translate-x-1"
                        ></div>
                      </div>
                      <div class="">
                        <div class="px-4 py-4 rounded bg-dark-2 relative">
                          <div class="">
                            Marketing push to spread awareness for Epiq Coin
                          </div>
                          <div class="">Launch of Epiq Coin website</div>
                          <div class="">
                            Goal to reach 5000 members on Epiq Coin Telegram
                            group
                          </div>
                          <div class="">
                            Development of Epiq Coin to increase engagement
                          </div>
                          <div class="">
                            Celebrating the birth of Epiq Coin, the next
                            generation of digital assets
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="py-4">
                      <div class="text-xl -mt-4 font-bold mb-2">Phase 2</div>
                      <div class="h-2 bg-white relative ml-1 mb-8 w-[101%]">
                        <div
                          class="w-4 h-4 bg-light rounded-full absolute left-0 top-1/2 transform -translate-y-1/2 -translate-x-1"
                        ></div>
                      </div>
                      <div class="">
                        <div class="px-4 py-4 rounded bg-dark-2 relative">
                          <div class="">
                            Implementing influencer marketing strategy to
                            promote Epiq Coin
                          </div>
                          <div class="">
                            Listing Epiq Coin on CoinGecko for increased
                            visibility
                          </div>
                          <div class="">
                            Listing Epiq Coin on CoinMarketCap to expand reach
                          </div>
                          <div class="">
                            Goal to reach 25,000 members on Epiq Coin Telegram
                            group
                          </div>
                          <div class="">
                            Goal to reach 25,000 Epiq Coin holders
                          </div>
                          <div class="">
                            Conducting a third-party audit to ensure
                            transparency and security
                          </div>
                          <div class="">
                            Encouraging voluntary donations for community
                            development and charity partnership.
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="py-4">
                      <div class="text-xl -mt-4 font-bold mb-2">Phase 3</div>
                      <div class="h-2 bg-white relative ml-1 mb-8 w-[101%]">
                        <div
                          class="w-4 h-4 bg-light rounded-full absolute left-0 top-1/2 transform -translate-y-1/2 -translate-x-1"
                        ></div>
                      </div>
                      <div class="">
                        <div class="px-4 py-4 rounded bg-dark-2 relative">
                          <div class="">Reaching 100,000 Epiq Coin holders</div>
                          <div class="">
                            Achieving 100,000 members in Epiq Coin Telegram
                            group
                          </div>
                          <div class="">
                            Conducting Air Drop #2 to reward the community
                          </div>
                          <div class="">
                            Launching a large-scale influencer marketing
                            campaign to increase brand awareness
                          </div>
                          <div class="">
                            Securing listings on major centralized
                            cryptocurrency exchanges (CEX)
                          </div>
                          <div class="">
                            Encouraging the community to create more memes for
                            Epiq Coin
                          </div>
                          <div class="">
                            Introducing credit card payment option for
                            cryptocurrency purchases on the Epiq Coin website.
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="py-4">
                      <div class="text-xl -mt-4 font-bold mb-2">Phase 4</div>
                      <div class="h-2 bg-white relative ml-1 mb-8 w-[101%]">
                        <div
                          class="w-4 h-4 bg-light rounded-full absolute left-0 top-1/2 transform -translate-y-1/2 -translate-x-1"
                        ></div>
                      </div>
                      <div class="">
                        <div class="px-4 py-4 rounded bg-dark-2 relative">
                          <div class="">
                            Achieving 150,000 holders for EpiqCoin
                          </div>
                          <div class="">
                            Enhancing marketing efforts for increased awareness
                            and adoption
                          </div>
                          <div class="">Launching Baby Shiba Swap</div>
                          <div class="">Adding more memes to the community</div>
                          <div class="">Redesigning the EpiqCoin website</div>
                          <div class="">
                            Introducing EPIQCOIN GROW, a wallet growth tracker
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="py-4">
                      <div class="text-xl -mt-4 font-bold mb-2">Phase 5</div>
                      <div class="h-2 bg-white relative ml-1 mb-8 w-[101%]">
                        <div
                          class="w-4 h-4 bg-light rounded-full absolute left-0 top-1/2 transform -translate-y-1/2 -translate-x-1"
                        ></div>
                      </div>
                      <div class="">
                        <div class="px-4 py-4 rounded bg-dark-2 relative">
                          <div class="">Achieving 300,000 EpiqCoin holders</div>
                          <div class="">
                            Launching an NFT marketplace for EpiqCoin treats,
                            exclusively available to EpiqCoin token holders
                          </div>
                          <div class="">
                            Offering a Tesla giveaway to promote EpiqCoin's
                            eco-friendliness campaign when market cap hits $250m
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="py-16 bg-white bg-opacity-90">
          <div class="container mx-auto px-4">
            <div class="text-5xl font-bold text-center mb-8 text-light">
              Partners
            </div>
            <div class="flex -mx-4 justify-center items-center flex-wrap">
              <div class="w-1 lg:w-1/4 px-4 py-4">
                <img src="/assets/partners/1.png" class="w-2/3 mx-auto" />
              </div>
              <div class="w-1 lg:w-1/4 px-4 py-4">
                <img src="/assets/partners/2.png" class="w-2/3 mx-auto" />
              </div>
              <div class="w-1 lg:w-1/4 px-4 py-4">
                <img src="/assets/partners/8.svg" class="w-2/3 mx-auto" />
              </div>
              <div class="w-1 lg:w-1/4 px-4 py-4">
                <img src="/assets/partners/4.png" class="w-2/3 mx-auto" />
              </div>
              <div class="w-1 lg:w-1/4 px-4 py-4">
                <img
                  src="/assets/partners/5.svg"
                  style="width: 100px"
                  class="w-2/3 mx-auto"
                />
              </div>
              <div class="w-1 lg:w-1/4 px-4 py-4">
                <img src="/assets/partners/6.svg" class="w-2/3 mx-auto" />
              </div>
              <div class="w-1 lg:w-1/4 px-4 py-4">
                <img src="/assets/partners/7.png" class="w-2/3 mx-auto" />
              </div>
              <div class="w-1 lg:w-1/4 px-4 py-4">
                <img
                  src="/assets/partners/3.svg"
                  style="width: 100px"
                  class="w-2/3 mx-auto"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-dark-2 py-16 bg-no-repeat bg-right-top"
          style="background-image: url(&#x27;./assets/bg-4.png&#x27;)"
        >
          <div class="container mx-auto px-4">
            <div class="mb-8 flex items-center">
              <img src="/assets/logo.png" class="h-24" />
            </div>
            <div
              class="flex social space-x-8 pl-8 border-l-4 border-light items-center py-4"
              data-aos="flip-up"
            >
              <div>
                <a
                  href="https://t.me/epiqcoin"
                  target="_blank"
                  class="w-20 h-20 bg-white rounded-2xl hover:bg-dark transition-all border-white border-2 flex items-center justify-center mb-2 mx-auto"
                  ><svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 448 512"
                    class="w-16 h-16 text-light"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"
                    ></path></svg
                ></a>
                <div class="text-center text-gray-300">Telegram</div>
              </div>
              <div>
                <a
                  href="https://twitter.com/EpiqCoin"
                  target="_blank"
                  class="w-20 h-20 bg-white rounded-2xl hover:bg-dark transition-all border-white border-2 flex items-center justify-center mb-2 mx-auto"
                  ><svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 512 512"
                    class="w-16 h-16 text-light"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                    ></path></svg
                ></a>
                <div class="text-center text-gray-300">Twitter</div>
              </div>
              <div>
                <a
                  href="https://www.instagram.com/epiq_coin/?igshid=YmMyMTA2M2Y%3D"
                  target="_blank"
                  class="w-20 h-20 bg-white rounded-2xl hover:bg-dark transition-all border-white border-2 flex items-center justify-center mb-2 mx-auto"
                >
                  <img src="./assets/instagram.svg" alt="" />
                </a>
                <div class="text-center text-gray-300">Instagram</div>
              </div>
              <div>
                <a
                  href="https://www.facebook.com/people/EPIQ-COIN/100091808870508/?mibextid=LQQJ4d"
                  target="_blank"
                  class="w-20 h-20 bg-white rounded-2xl hover:bg-dark transition-all border-white border-2 flex items-center justify-center mb-2 mx-auto"
                >
                  <svg
                    enable-background="new 0 0 56.693 56.693"
                    height="56.693px"
                    fill="#b5822f"
                    id="Layer_1"
                    version="1.1"
                    viewBox="0 0 56.693 56.693"
                    width="56.693px"
                    xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <path
                      d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z"
                    /></svg
                ></a>
                <div class="text-center text-gray-300">Facebook</div>
              </div>
            </div>
            <div class="mt-8">Copyright © 2023 Epiq Coin Token</div>
            <p>Disclaimer:</p>
            <small style="font-size: 14px"
              >The information provided about EpiqCoin is for general
              informational purposes only. It does not constitute investment
              advice or a recommendation to buy or sell <br />
              any cryptocurrency. Investing in cryptocurrencies is highly
              speculative and carries a high level of risk. You should always
              consult with a financial advisor before making any investment
              decisions. <br />
              EpiqCoin is not responsible for any investment decisions made
              based on the information provided.</small
            >
          </div>
        </div>
      </div>
      <div class="Toastify"></div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
  <script src="https://unpkg.com/web3modal"></script>
  <script src="https://unpkg.com/@walletconnect/web3-provider@1.6.6/dist/umd/index.min.js"></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
  />
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/toastify-js"
  ></script>
  <script src="./js/index.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="
  https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
  "></script>
  <link
    href="
  https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
  "
    rel="stylesheet"
  />
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var splide = new Splide(".splide", {
        type: "loop",
        perPage: 3,
        perMove: 1,
        gap: "1rem",
        breakpoints: {
          640: {
            perPage: 2,
          },
          480: {
            perPage: 1,
          },
        },
      });
      splide.mount();
    });
    AOS.init();
  </script>
</html>
