/* [FONTS] */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

/* [VARIALBES] #261780
--------------------------*/
:root {
    /* [PRIMARY] */
    --color-primary-dark: #0f374e;
    --color-primary: #6c77ea;
    --color-primary-light: #4e619d;

    /* [SECONDARY] */
    --color-secondary: #01030d;

    /* [ACCENT] */
    --color-accent-pink: #ddd0d5;
    --color-accent-orange: #eb5757;
    --color-accent-yellow: #f2994a;
    --color-accent-green: #27ae60;

    /* [GRAY] */
    --color-gray-light: #848198;

    /* [GENRAL] */
    --color-black: #000;
    --color-white: #fff;
}

/* [BROWSER RESET]
----------------------------------*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: middle;
}

[hidden],
audio:not([controls]),
template {
    display: none;
    height: 0;
}

* {
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

*,
:after,
:before {
    box-sizing: inherit;
}

:after,
:before {
    vertical-align: inherit;
    text-decoration: inherit;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    transition: scroll-behavior .3s ease;
    scroll-behavior: smooth;
}

a {
    background-color: transparent;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

iframe,
img,
svg {
    vertical-align: middle;
}

embed,
iframe,
object {
    max-width: 100%;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    margin: 1em 0;
}

nav ol,
nav ul {
    list-style: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}

fieldset,
legend {
    border: 0;
}

legend {
    white-space: normal;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
}

select {
    cursor: pointer;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--color-black);
}

button[disabled],
input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button,
input,
select {
    overflow: visible;
}

input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type=checkbox],
input[type=radio] {
    cursor: pointer;
    padding: 0;
}

input[type=checkbox] {
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
}

input[type=radio] {
    -moz-appearance: radio;
    -webkit-appearance: radio;
}

input[type=number] {
    width: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    cursor: pointer;
}

textarea {
    vertical-align: top;
    overflow: auto;
    resize: vertical;
    -moz-appearance: none;
    -webkit-appearance: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

menu {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

sup {
    position: relative;
    top: -.5em;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}


/* [GENRAL STYLING]
------------------------------*/
html {
    font-size: 62.5%;
    background: var(--color-secondary);
}

body {
    font: 1.8em/2 sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Space Grotesk;
    line-height: 32px;
    color: var(--color-gray-light);
}

h1,
h2 {
    color: var(--color-white);
}

h2 {
    font-size: 4.6rem;
    line-height: 5.4rem;
    font-weight: 700;
    margin-bottom: 35px;
}

h3 {
    font-size: 3rem;
    line-height: 3.3rem;
}

h3,
h4 {
    color: var(--color-white);
}

h4 {
    font-size: 2.2rem;
    line-height: 2.6rem;
}

a {
    color: var(--color-primary-dark);
    transition: all .3s ease-in-out;
}

a:hover {
    color: var(--color-primary);
}

p {
    margin: 30px 0 0;
}

.bold {
    font-weight: 700;
}

#vue,
.container {
    margin: auto;
}

.container {
    max-width: 1160px;
    padding: 0 60px;
}

.container.game #connect-btn button,
.cta {
    padding: 16px 30px;
    background: var(--color-primary-dark);
    color: var(--color-white);
    text-decoration: none;
    font-weight: 700;
    transition: all .3s ease-in-out;
}

.container.game #connect-btn button:hover,
.cta:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.disable {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.degrade {
    background: linear-gradient(90deg, var(--color-accent-pink), #524450);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.mentions-title {
    font-size: 5rem;
    line-height: 6rem;
    margin-top: 70px;
    margin-bottom: 35px;
}


/* [HEADER]
--------------------------*/
.header {
    justify-content: space-between;
    align-items: center;
    height: max-content;
}

.header .logo-img {
    display: block;
    width: 180px;
    height: 90px;
    position: absolute;
    top: 0;
}

.header .logo-img img {
    display: block;
    width: 100%;
    object-fit: contain;
    height: 100%;
}

@media (max-width: 900px) {
    .header .logo-img {
        display: block;
        width: 120px;
        position: static;
    }
}

@media (max-width: 550px) {
    .header.container {
        padding-left: 25px;
        padding-right: 25px;
        top: 20px;
    }

    .header .logo-img {
        display: block;
        width: 100px;
    }
}

.header .link {
    border: 1px solid white;
    width: 44px;
    height: 44px;
    margin-right: 15px;
    box-shadow: inset 0 0 0 white;
    transition: all .3s ease-out;
}

.header .link:hover {
    box-shadow: inset 0 -54px 0 var(--color-white);
}


.header .link:last-child {
    margin-right: 0;
}

.header .link a {
    width: 44px;
    height: 44px;
    display: block;
    justify-content: center;
    align-items: center;
}

.header .twitter {
    background-color: var(--color-white);
    -webkit-mask: url(../images/twitter.svg) no-repeat center;
    mask: url(../images/twitter.svg) no-repeat center;
}

.header .link:hover .discord,
.header .link:hover .twitter {
    background-color: var(--color-black);
}

.header .opensea {
    background-color: var(--color-white);
    -webkit-mask: url(../images/opensea.svg) no-repeat center;
    mask: url(../images/opensea.svg) no-repeat center;
}

.header .discord {
    background-color: var(--color-white);
    -webkit-mask: url(../images/discord.svg) no-repeat center;
    mask: url(../images/discord.svg) no-repeat center;
}

.header .wallet, .btn-connect {
    background: var(--color-white);
    border: none;
    font-family: Space Grotesk;
    font-size: 1.4rem;
    color: black;
    padding: 6px 20px;
    transition: all .3s ease-in-out;
}

.header .wallet:hover, .btn-connect:hover {
    background-color: var(--color-primary);
}

input {
    height: 44px;
    margin: 20px 0;
    width: 100%;
    text-align: center;
    font-weight: 900;
    background: var(--color-white);
    border: none;
    font-family: Space Grotesk;
    font-size: 3rem;
    color: black;
    padding: 6px 0;
    transition: all .3s ease-in-out;
}
.text-center{
    text-align: center;
}
@media (max-width: 900px) {
    .header #connect-btn {
        display: none;
    }
}



/* [HERO]
--------------------------*/
#hero {
    position: relative;
    width: 100%;
    height: 90vh;
    padding: 0 0 0 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
    background: url('../hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(-0px -5px 4px black);
}

.header,
header {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 2;
}

#hero #hero-img {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    object-fit: cover;
    object-position: top;
}

@media(max-width: 1600px) {
    #hero #hero-img {
        width: 50%;
    }
}

@media(max-width: 1150px) {
    #hero #hero-img {
        width: 70%;
    }
}

@media(max-width: 900px) {
    #hero #hero-img {
        width: 80%;
    }
}

@media(max-width: 768px) {
    #hero #hero-img {
        width: 100%;
    }
}

#hero .header-image {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}



.faqs {
    margin-top: 20rem;
}

@media(max-width: 650px) {
    .faqs {
        margin-top: 10rem;
    }
}

.unique-container {
    margin-top: 150px;
    margin-bottom: 150px;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
}
.unique-container.center {
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 150px;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
}

.unique-container .unique {
    width: calc(50% - 60px);
    min-width: 370px;
}

.unique-container .unique_example {
    position: relative;
    width: calc(50% - 30px);
}

.unique-container .unique_example_img {
    position: absolute;
    content: "";
    width: 145px;
    height: 145px;
    right: -60px;
    top: -60px;
    /* display: none; */
}

.unique-container .unique_example_img img {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s linear;
}

.unique-container .unique_example_img .img_illum {
    opacity: 0;
    visibility: hidden;
    transition: all .4s linear;
}

.unique-container .unique_example_img.active_illum .img_illum {
    opacity: 1;
    visibility: visible;
    transition: all .4s linear;
}

.unique-container .unique_example_img.active_illum .img_normal {
    opacity: 0;
    visibility: hidden;
    transition: all .4s linear;
}

.unique-container .various {
    width: 100%;
}


/* [MAIN SLIDER]
--------------------------*/
#slider {
    margin-bottom: 200px;
}

#slider .slider__container {
    overflow: hidden;
}

#slider .list {
    align-items: center;
}

#slider img {
    width: 100%;
    height: auto;
    transition: all .3s ease;
}

#slider img:hover {
    transform: scale(1.01);
}

#slider .slider__container__slide {
    cursor: pointer;
}


#slider .slider__container__pagination {
    align-items: flex-end;
    margin-top: 50px;
}

#slider .slider__container__item {
    transform: scale(0.85);
    transition: all 0.5s ease;
    transform-origin: bottom;
}

.linear {
    transition: all .5s linear;
}

#slider .active-slide .slider__container__item {
    transform: scale(1);
    transform-origin: bottom;
}

#slider .slider__container__pagination-item button {
    width: 40px;
    height: 12px;
    background: var(--color-primary-light);
    margin: 1px;
    border: 5px solid var(--color-secondary);
    transition: all .3s ease-in-out;
}

.slider__container__pagination-item button:hover {
    background: var(--color-primary-dark);
}

.slider__container__pagination-item.tns-nav-active button {
    height: 13px !important;
    background: var(--color-white) !important;
}

/* [ROADMAP SECTION]
--------------------------*/

#roadmap {
    position: relative;
    margin-bottom: 100px;
    overflow: hidden
}

#roadmap .intro,
#roadmap h2 {
    text-align: center;
    width: 55.55%;
    margin-left: auto;
    margin-right: auto;
}

#roadmap .intro {
    margin-top: 0
}

#roadmap .timeline {
    position: relative;
    align-items: center;
    width: 77.77%;
    margin: 80px 0 0;
    margin-left: auto;
    margin-right: auto;
}

#roadmap .line {
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    left: 82px;
    opacity: 0;
    visibility: hidden;
}

#roadmap .progression {
    background: #ff79a8;
    background: linear-gradient(180deg, #ff79a8, #d02561 49%);
    width: 3px;
    height: 180px;
    margin-left: -1px
}

#roadmap .step {
    background: #04091a;
    max-width: 830px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 50px 70px;
    margin: 30px 0;
}

#roadmap .step:nth-child(2) {
    margin-top: 100px
}

#roadmap .step:last-child {
    margin-bottom: 100px
}

#roadmap .step.done .shape {
    background: #fff
}

#roadmap .step p {
    margin: 20px 0 0
}

#roadmap .dot {
    margin-top: 5px;
    padding: 5px
}

#roadmap .shape {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #04091a;
    transform: rotate(45deg)
}

#roadmap .details {
    margin-left: 35px
}

#roadmap .title {
    align-items: flex-end
}

#roadmap .number {
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin-right: 20px
}

#roadmap .box {
    position: absolute;
    left: 93%;
    top: 0;
    margin: 0;
}


#roadmap #helmet {
    position: relative;
    width: 200px;
    padding-top: 40px;
    height: 200px;
}

#helmet img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 2s ease;
}

#helmet .img_normal {
    opacity: 1;
    visibility: visible;
}

#helmet .img_illum {
    opacity: 0;
    visibility: hidden;
}

#helmet.active-illum .img_illum {
    opacity: 1;
    visibility: visible;
}

#helmet.active-illum .img_normal {
    opacity: 0;
    visibility: hidden;
}



#roadmap .row.relative {
    position: relative
}

@media (max-width: 1500px) {
    #roadmap .box {
        left: auto;
        right: 0;
    }

    #roadmap #helmet {
        width: 120px;
        height: 120px;
    }
}



/* [AIRDROP]
--------------------------*/
#airdrop {
    background: #04091a;
    padding-bottom: 77px;
    margin-bottom: 200px;
}

#airdrop .container {
    justify-content: center;
}

#airdrop .top {
    align-items: flex-end;
    margin-top: -50px;
}

#airdrop .airdrop-preview {
    width: 44.44%;
    height: auto;
    margin-right: 50px;
}

#airdrop .infos {
    margin-top: 90px;
}

#airdrop h2 {
    margin-bottom: 0;
}

#airdrop h3 {
    margin-left: 15px;
}

#airdrop .countdown {
    font-size: 2.2rem;
    font-weight: 600;
}

#airdrop .myb10nic-list {
    margin-top: 75px;
    position: relative;
}

#airdrop .myb10nic-list.loader .list {
    opacity: .2;
}

#airdrop .list {
    margin-top: 30px;
    flex-wrap: wrap;
}

#airdrop .myb10nic {
    width: 88px;
    height: 88px;
    margin: 0 15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer;
}

#airdrop .b10nic .img {
    width: 100%;
    height: auto;
}

#airdrop .b10nic .claim {
    position: absolute;
    background: var(--color-primary-dark);
    font-size: 1.2rem;
    color: var(--color-white);
    text-align: center;
    font-weight: 700;
    width: 100%;
    transition: all .3s ease-in-out;
    bottom: -32px;
}

#airdrop .myb10nic .claim p {
    padding: 0;
    margin: 0;
}

#airdrop .myb10nic:hover .claim {
    bottom: 0;
}

#airdrop .myb10nic.claimed .claim {
    bottom: 0;
    background-color: rgba(0, 16, 57, .8);
    width: 100%;
    height: 100%;
    cursor: default;
}

#airdrop .myb10nic.claimed .claim p {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#airdrop .airdrop-loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

#airdrop .airdrop-loader .loader-global {
    color: var(--color-white);
}

#airdrop .check {
    margin-top: 30px;
}

#airdrop .check .input {
    display: flex;
}

#airdrop .check .input input {
    background: var(--color-secondary);
    border: 1px solid var(--color-primary-light);
    padding: 4px 20px;
    color: var(--color-white);
    outline: none;
}

#airdrop .check .input .container.game #connect-btn button,
#airdrop .check .input .cta,
.container.game #connect-btn #airdrop .check .input button {
    display: inline-block;
    padding: 5px 20px;
    font-size: 15px;
    cursor: pointer;
}

#airdrop .check .input.success input {
    border-color: var(--color-accent-green);
}

#airdrop .check .input.danger input {
    border-color: var(--color-accent-orange);
}

#airdrop .check .input.warning input {
    border-color: var(--color-accent-yellow);
}


/* [TEAM SECTION]
--------------------------*/

#team,
#team-page {
    margin-bottom: 200px;
    padding-top: 100px;
    overflow: hidden;
}

#team-page .intro,
#team .intro {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

#team-page .title,
#team .title {
    position: relative;
    width: 44.44%;
    text-align: right;
    padding-right: 70px;
}


#team .title .bot {
    position: absolute;
    width: 123px;
    height: 123px;
    left: -60px;
    top: -100px;
}

#team .title .bot img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
    transition: all 1.3s ease;
}

#team .title .bot .img_normal {
    opacity: 1;
    visibility: visible;
}

#team .title .bot .img_illum {
    opacity: 0;
    visibility: hidden;
}

#team .title .bot.active-bot .img_illum {
    opacity: 1;
    visibility: visible;
}

#team .title .bot.active-bot .img_normal {
    opacity: 0;
    visibility: hidden;
}



#team-page .question,
#team .question {
    font-size: 4rem;
    font-weight: 700;
}

#team-page .answer,
#team .answer {
    font-size: 5rem;
    font-weight: 700;
    line-height: 4.6rem;
    margin-top: 10px;
}

#team-page .presentation,
#team .presentation {
    width: 55.55%;
}

#team-page .presentation p,
#team .presentation p {
    margin: 0;
}

#team-page .portal,
#team .portal {
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
}

#team .portal:last-child {
    margin-top: 100px;
}


#team-page .who .top,
#team .who .top {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

#team-page .who img,
#team .who img {
    align-self: flex-start;
    width: 100%;
}

#team-page h2,
#team h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

#team-page .link,
#team .link {
    background: var(--color-primary-dark);
    width: 44px;
    height: 44px;
    transition: all .3s ease-in-out;
}

#team-page .link:first-child,
#team .link:first-child {
    margin-right: 15px;
}

#team-page .link:hover,
#team .link:hover {
    background: var(--color-primary);
}

#team-page .network,
#team .network {
    width: 44px;
    height: 44px;
    display: block;
    justify-content: center;
    align-items: center;
}

#team-page .twitter,
#team .twitter {
    background-color: var(--color-white);
    -webkit-mask: url(../images/twitter.svg) no-repeat center;
    mask: url(../images/twitter.svg) no-repeat center;
}

#team-page .instagram,
#team .instagram {
    background-color: var(--color-white);
    -webkit-mask: url(../images/instagram.svg) no-repeat center;
    mask: url(../images/instagram.svg) no-repeat center;
}


#team-page .slider__container__pagination-item button,
#team .slider__container__pagination-item button {
    width: 40px;
    height: 12px;
    background: var(--color-primary-light);
    margin: 1px;
    border: 5px solid var(--color-secondary);
    transition: all .3s ease-in-out;
}

#team-page .slider__container__pagination-item button:hover,
#team .slider__container__pagination-item button:hover {
    background: var(--color-primary-dark);
}

#team-page .slider__container__pagination-item button.slider__container__pagination-button--active,
#team .slider__container__pagination-item button.slider__container__pagination-button--active {
    height: 13px;
    background: var(--color-white);
}

/* [TEAM GRID] */
.team-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5rem;
}

.team-discord {
    text-align: center;
    margin-top: 5rem;
}

.team-discord .cta {
    display: inline-block;
}

.team-grid .who {
    --gap: 3.5rem;
    width: calc((100% - (var(--gap) * 2)) / 3);
}

@media (max-width: 950px) {
    .team-grid .who {
        --gap: 3.5rem;
        width: calc((100% - (var(--gap) * 2)) / 2);
    }
}

.ref {
    display: block;
    width: 100%;
}

.ref img {
    display: block;
    width: 100%;
}

.team-box {
    display: flex !important;
    gap: 20px;
}

#team-page .img img:hover,
#team .img img:hover {
    transform: scale(1.02);
}

#team-page .img .slider__container__slide,
#team .img .slider__container__slide {
    display: flex;
    justify-content: space-between;
}

#team-page .img .slider__container__pagination,
#team .img .slider__container__pagination {
    position: absolute;
    top: -70px;
    right: 0;
}

#team-page .list {
    max-width: 1160px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#team-page .user {
    width: calc(50% - 60px);
    margin: 0 15px;
    margin-bottom: 80px;
}

#team-page .user img {
    width: 100%;
    height: auto;
}

#team-page .top {
    justify-content: space-between;
    align-items: center;
}

#team-page .role {
    margin-bottom: 20px;
}

#team-page .border {
    border: 1px solid var(--color-white);
}

#team-page h2 {
    font-size: 2.5rem;
}

#team-page .link {
    background: var(--color-primary-dark);
    width: 44px;
    height: 44px;
    transition: all .3s ease-in-out;
}

#team-page .link:last-child {
    margin-left: 15px;
}

#team-page .link:hover {
    background: var(--color-primary);
}


/* [DISCORD]
--------------------------*/
#discord {
    position: relative;
    width: 100%;
    background: url(../images/community_bg.jpeg) no-repeat;
    background-size: cover;
    background-position: 50% left;
    margin-top: 160px;
    overflow: hidden;
}

#discord .container {
    padding: 100px 60px;
}

#discord h2 {
    color: var(--color-accent-pink);
    width: 55.55%;
    margin-bottom: 25px;
    font-size: 5rem;
}

#discord p {
    width: 44.44%;
    color: var(--color-white);
    margin: 0 0 50px;
}

#discord .container.game #connect-btn button,
#discord .cta,
.container.game #connect-btn #discord button {
    padding: 16px 30px;
    background: var(--color-primary-dark);
    color: var(--color-white);
    text-decoration: none;
    font-weight: 700;
}

#discord .container.game #connect-btn button:hover,
#discord .cta:hover,
.container.game #connect-btn #discord button:hover {
    background: var(--color-primary);
}

#discord .b10nic {
    position: absolute;
    width: 580px;
    height: 427px;
    background: url(../images/b10nic_blue.png) no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
}


/* [FOOTER]
--------------------------*/
footer .container {
    justify-content: space-between;
    margin: 70px auto;
}

footer .infos {
    width: 44.44%;
    justify-content: space-between;
}

footer .logo a {
    display: block;
    width: auto;
}

@media (max-width: 500px) {
    footer .logo a {
        margin-left: auto;
        margin-right: auto;
    }
}

footer .logo a img {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    object-fit: contain;
}

footer .baseline {
    font-weight: 300;
    color: var(--color-white);
    margin-top: 10px;
}

footer .copyright {
    font-size: 1.5rem;
    color: var(--color-gray-light);
    font-weight: 300;
    margin-top: 40px;
}

footer .right {
    width: 22.22%;
    justify-content: space-between;
}

footer .nav a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--color-primary-light);
    transition: all .3s ease-in-out;
}

footer .nav a:hover {
    color: var(--color-primary-dark);
}

footer .nav a.page-active {
    color: var(--color-white);
}

footer .social {
    margin-top: 40px;
}

footer .link {
    border: 1px solid var(--color-primary-dark);
    width: 44px;
    height: 44px;
    margin-right: 15px;
    box-shadow: inset 0 0 0 var(--color-primary-dark);
    transition: all .3s ease-in-out;
}

footer .link:hover {
    box-shadow: inset 0 -54px 0 var(--color-primary-dark);
}

footer .link:last-child {
    margin-right: 0;
}

footer .link a {
    width: 44px;
    height: 44px;
    display: block;
    justify-content: center;
    align-items: center;
}

footer .twitter {
    background-color: var(--color-white);
    -webkit-mask: url(../images/twitter.svg) no-repeat center;
    mask: url(../images/twitter.svg) no-repeat center;
}

footer .opensea {
    background-color: var(--color-white);
    -webkit-mask: url(../images/opensea.svg) no-repeat center;
    mask: url(../images/opensea.svg) no-repeat center;
}

footer .discord {
    background-color: var(--color-white);
    -webkit-mask: url(../images/discord.svg) no-repeat center;
    mask: url(../images/discord.svg) no-repeat center;
}

#hero .hero-main-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 20px;
    line-height: 30px;
    font-family: Space Grotesk;
    text-align: center;
    text-decoration: none;
}

#hero .hero-main-btn .element {
    background: var(--color-primary-dark);
    padding: 25px 50px;
    transition: all .3s ease-in-out;
    color: var(--color-white);
    cursor: no-drop;
}

#hero .hero-main-btn .element>.text {
    font-weight: 700;
}

#hero .hero-main-btn.clickable .element {
    cursor: pointer;
}

#hero .hero-main-btn.clickable .element:hover {
    background: var(--color-primary);
    color: var(--color-white);
}


@media(max-width:960px) {
    #hero .hero-main-btn {
        min-width: 70%
    }

    ;
}

@media(max-width:670px) {
    #hero .hero-main-btn {
        min-width: 90%
    }

    ;
}

@media(max-width:500px) {
    #hero .hero-main-btn {
        top: 75%;
        font-size: 18px;
        min-width: auto;
        width: 80%;
        line-height: 25px;
        padding: 15px 30px
    }

    ;
}

@media(max-width:1200px) {
    #left-hero .link {
        margin-right: 5px
    }

    .unique-container h2 {
        font-size: 3.8rem;
        line-height: 4.8rem
    }

    #roadmap #helmet {
        display: none
    }

    #roadmap .middle {
        justify-content: center
    }

    #roadmap h2 {
        margin: 0 auto 35px
    }

    #roadmap .intro {
        margin: auto
    }

    #discord .b10nic {
        width: 440px;
        height: 370px
    }

}

@media(max-width:960px) {
    .unique-container {
        flex-direction: column
    }

    .unique-container .unique {
        width: 77.77%;
        margin-bottom: 50px
    }

    .unique-container .img {
        width: 77.77%
    }

    .unique-container .unique_example {
        width: 77.77%;
    }

    #roadmap {
        align-items: center
    }

    #roadmap #helmet {
        display: none
    }

    #roadmap .intro,
    #roadmap h2 {
        width: 99.99%;
        margin-left: 0
    }

    #roadmap .timeline {
        width: 100%
    }

    #team-page .intro,
    #team .intro {
        flex-direction: column
    }

    #team-page .title,
    #team .title {
        width: 77.77%;
        text-align: left;
        margin-bottom: 30px
    }

    #team .title .bot {
        left: inherit;
        right: 5vw;
        top: -70px;
        transform: rotate(105deg)
    }

    #team-page .presentation,
    #team .presentation {
        width: 77.77%
    }

    footer .infos {
        width: auto;
        padding-right: 30px
    }

    footer .baseline {
        margin-top: 20px;
        line-height: 2.5rem
    }

    footer .copyright {
        line-height: 2rem
    }

    footer .right {
        width: auto
    }

    #registration .side {
        width: 100%
    }


    #left-hero header {
        width: 100%
    }

    #left-hero .link {
        margin-right: 15px
    }

    #airdrop .airdrop-preview {
        width: 100%;
        justify-content: flex-start
    }

    #airdrop .top {
        flex-direction: column;
        align-items: flex-start
    }

    #airdrop .infos {
        margin-top: 70px
    }

    ;
}

@media(max-width:780px) {
    header .typo {
        margin-left: 12px
    }

    header .link {
        margin-right: 7px
    }

    #hero {
        height: 750px;
        background-size: cover;
        background-position: bottom
    }

    #hero #hero-video {
        display: none
    }

    .unique-container {
        margin: 100px 0 70px
    }

    .slider__container__pagination-item button {
        width: 30px !important;
    }

    #slider .slider__container__pagination {
        margin-top: 10px
    }


    /* [ROADMAP SECTION]
    --------------------------*/

    #roadmap .intro,
    #roadmap h2 {
        width: 100%;
        margin-left: 0
    }

    #roadmap .line {
        left: 50px
    }

    #roadmap .dot {
        margin-left: -32px
    }

    #roadmap .title {
        flex-direction: column;
        align-items: flex-start
    }

    #roadmap h3 {
        font-size: 2.6rem;
        line-height: 3.2rem
    }

    #roadmap .step:nth-child(2) {
        margin-top: 50px
    }

    #roadmap .step:last-child {
        margin-bottom: 50px
    }

    #team,
    #team-page {
        margin-bottom: 120px
    }

    #team-page .intro,
    #team .intro {
        margin-bottom: 100px
    }

    #team-page .portal,
    #team .portal {
        flex-direction: column;
        align-items: center
    }

    #team-page .portal:last-child,
    #team .portal:last-child {
        margin-top: 100px
    }

    #team-page .spacer,
    #team .spacer {
        display: none
    }

    #discord h2,
    #discord p {
        width: 55.55%
    }

    #discord .b10nic {
        width: 280px;
        height: 290px
    }

}

@media(max-width:670px) {
    #slider {
        margin-bottom: 50px;
    }

    .container {
        padding: 0 30px;
    }

    header .typo {
        display: none;
    }

    .unique-container .unique {
        width: 100%;
        margin-bottom: 70px;
        min-width: inherit;
    }

    .unique-container .unique_example {
        width: 100%;
    }

    .unique-container .unique_example .unique_example_img {
        width: 80px;
        height: 80px;
        top: 0;
        right: 0;
    }


    #roadmap h3 {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    #roadmap .timeline p {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    #team-page .title,
    #team .title {
        padding-left: 70px;
        width: 100%
    }

    #team .title .bot {
        left: inherit;
        right: 5vw;
        top: -70px
    }

    #team-page .presentation,
    #team-page .user,
    #team-page .who,
    #team-page .works,
    #team .presentation,
    #team .who,
    #team .works {
        width: 100%
    }

    #discord .container {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px
    }

    #discord h2 {
        width: 100%;
        font-size: 4rem;
        line-height: 4.4rem
    }

    #discord p {
        width: 100%
    }

    #discord .b10nic {
        display: none
    }

    footer .link {
        margin-right: 5px
    }

}

@media(max-width:500px) {
    #cookies .container {
        flex-direction: column;
        align-items: center
    }

    #cookies p {
        padding-right: 0
    }

    #cookies .container.game #connect-btn button,
    #cookies .cta,
    .container.game #connect-btn #cookies button {
        width: 100%;
        text-align: center;
        margin-top: 30px
    }

    header .link {
        margin-right: 10px
    }

    header .wallet {
        padding: 6px 13px;
    }

    #hero {
        height: 500px
    }

    .unique-container h2 {
        font-size: 8vw;
        line-height: 11vw
    }

    #roadmap .line {
        left: 30px
    }

    #roadmap .step {
        padding: 50px 20px;
        padding-left: 20px;
    }

    #roadmap .details {
        margin-left: 30px;
    }

    #roadmap .dot {
        margin-left: 0;
    }

    #roadmap .title {
        flex-direction: column;
        align-items: flex-start
    }

    #roadmap .details {
        margin-left: 25px
    }

    #roadmap .timeline.column {
        margin-top: 20px;
    }

    footer .container {
        flex-direction: column;
        margin: 60px auto
    }

    footer .right {
        margin-bottom: 60px
    }

    footer .right .link {
        margin-left: 20px
    }

    footer .right .link:first-child {
        margin-left: 0
    }

    footer .infos {
        order: 2;
        padding-right: 0
    }

    footer .social {
        margin-top: 0
    }

    footer .nav {
        display: none
    }

    footer .copyright {
        margin-top: 25px
    }


    #airdrop .myb10nic {
        width: calc(33.33333% - 30px);
        height: 100%;
        background: var(--color-primary-dark);
        overflow: hidden
    }

    #airdrop .myb10nic img {
        width: 100%;
        height: auto
    }

    #airdrop .myb10nic.claimed .claim p {
        bottom: 16px
    }

    ;
}

@media(max-width:400px) {

    .header .link a,
    .header .link {
        width: 30px;
        height: 30px;
    }

    .header .logo-img {
        width: 70px;
    }

    #hero .container,
    #light-hero .container {
        justify-content: space-between;
    }

    #roadmap .details {
        margin-left: 20px
    }

    #roadmap .line {
        left: 25px
    }

    #roadmap .dot {
        margin-left: -57px
    }

    #roadmap .step {
        padding: 40px 35px 40px 70px
    }

    #roadmap .step p {
        font-size: 1.5rem
    }

    #team .title .bot {
        right: -2vw;
        top: 18px;
        transform: rotate(163deg)
    }


    #airdrop .myb10nic {
        width: calc(50% - 30px);
        height: 100%;
        background: var(--color-primary-dark);
        overflow: hidden
    }

    #airdrop .myb10nic img {
        width: 100%;
        height: auto;
    }

    #airdrop .myb10nic.claimed .claim p {
        bottom: 16px;
    }
}