@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.text-primary {
  color: #6c5ecf !important;
}
.v-toolbar__content, .v-toolbar__extension{
  justify-content: center;
}
.theme--dark.v-btn.v-btn--disabled {
  cursor: not-allowed;
  color: white !important;
}

.theme--dark.v-list-item--disabled {
  cursor: not-allowed !important;
}

.v-sheet.v-card {
  padding: 50px 30px;
  border-radius: 40px;
}
.ex-as{
  display: grid;
}
.toasted-container .toasted {
  font-size: 18px !important;
  color: #000 !important;
  border: none !important;
  padding: 15px !important;
  border-radius: 8px !important;
  background: #f5ef4b !important;
}
