@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
:root {
  --body-font: "Inter", sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: rgb(128 129 145 / 24%);
  --video-bg: #252936;
  --delay: 0s;
}
body {
  font-family: var(--body-font);
  color: var(--body-color);
  background-color: var(--theme-bg);
}
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(21, 20, 26, 0.63);
  border-radius: 10px;
}
img {
  max-width: 100%;
}
.text-red {
  color: #f44336 !important;
}
.sidebar {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition-duration: 0.2s;
}
.sidebar .logo {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 34px;
  position: sticky;
  top: 0;
}
.sidebar-link:hover,
.sidebar-link.is-active {
  color: #fff;
  font-weight: 600;
}
.sidebar-link:hover svg,
.sidebar-link.is-active svg {
  background: #ff7551;
}
.sidebar.collapse {
  width: 90px;
  border-right: 1px solid var(--border-color);
}
.sidebar.collapse .logo-expand,
.sidebar.collapse .side-title {
  display: none;
}
.sidebar.collapse .logo {
  display: flex;
}
.sidebar.collapse .side-wrapper {
  width: 30px;
}
.sidebar.collapse .side-menu svg {
  margin-right: 30px;
}
@-webkit-keyframes bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.side-menu {
  display: flex;
  flex-direction: column;
}
.side-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--body-color);
}
.side-menu a + a {
  margin-top: 26px;
}
.side-menu svg {
  width: 40px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--button-bg);
  flex-shrink: 0;
  margin-right: 16px;
}
.side-menu svg:hover {
  color: #fff;
}
.side-title {
  font-size: 12px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
}
.side-wrapper {
  border-bottom: 1px solid var(--border-color);
  padding: 36px 0;
}

.side-wrapper + .side-wrapper {
  border-bottom: none;
}
.card {
  padding: 40px;
  transition: 0.4s;
  border-radius: 20px;
  background-color: #252936;
}

.c-icon {
  width: 75px;
  height: 75px;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.75);
}
label {
  margin-bottom: 5px;
}
.custom-select {
  font-size: 12px;
  height: 42px;
  font-weight: 500;
  display: block;
  width: 100%;
  border: 0;
  border-radius: 20px;
  background-color: #2d303e;
  color: #fff;
  padding: 12px 40px;
  margin-bottom: 25px;
}
hr {
  border-color: rgb(128 129 145 / 24%);
  margin: 40px 0;
}
.collapse:not(.show) {
  display: flex;
}

.theme--dark.v-application,
.theme--dark.v-app-bar.v-toolbar.v-sheet,
.theme--dark.v-navigation-drawer {
  background-color: var(--theme-bg);
}
