body {
  font-family: "Inter", sans-serif;
  color: #f5ebe0;
  background-color: #454545;
}
.container {
  padding: 0;
}
.card {
  background-color: #252936;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
}
label {
  margin-bottom: 5px;
}
input {
  font-size: 12px;
  font-weight: 500;
  display: block;
  width: 100%;
  border: 0;
  border-radius: 20px;
  background-color: #2d303e;
  color: #fff;
  padding: 12px 40px;
  margin-bottom: 25px;
}
.custom-select {
  font-size: 12px;
  height: 42px;
  font-weight: 500;
  display: block;
  width: 100%;
  border: 0;
  border-radius: 20px;
  background-color: #2d303e;
  color: #fff;
  padding: 12px 40px;
  margin-bottom: 25px;
}
hr {
  border-color: rgb(128 129 145 / 24%);
  margin: 40px 0;
}
.collapse:not(.show) {
  display: flex;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
