<html data-wf-page="63fbba63f865714eef16cb39">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to NGU Token</title>
    <meta
      name="description"
      content="Welcome to NGU Token"
    />
    <meta
      property="og:title"
      content="Welcome to NGU Token"
    />
    <meta
      property="og:description"
      content="Welcome to NGU Token"
    />
    <meta
      property="twitter:title"
      content="Welcome to NGU Token"
    />
    <meta
      property="twitter:description"
      content="Welcome to NGU Token"
    />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="./src/logo.png" rel="apple-touch-icon" />
    <link href="./src/logo.png" rel="shortcut icon" type="image/x-icon" />
    <link href="./css/styles.css?v2" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic%7CMontserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CInconsolata:400,700%7CPoppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CPlayfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic%7CInter:100,200,300,regular,500,600,700,800,900"
      media="all"
    />
    <!-- roadmap -->
    <style>
      .roadmap {
        display: flex;
        padding: 50px 0 150px 0;
      }
      .float-text {
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 127.5%;
        text-align: center;
        letter-spacing: 1.2px;
        text-transform: capitalize;
        background: linear-gradient(
          355.14deg,
          rgba(13, 197, 245, 0.16) -97.71%,
          #96e0ff 73.99%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: -40px !important;
        opacity: 0.1;
      }
      @media screen and (max-width: 768px) {
        .float-text {
          font-size: 40px;
        }
        .roadmap {
          display: grid;
        }
      }
      .text-tourquise {
        background: #8e404d;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      .roadmap-desktop .owl-stage {
        padding-top: 80px;
      }
      .roadmap-desktop .owl-theme .owl-dots .owl-dot.active span {
        background: #4acfff;
      }
      .roadmap-desktop .owl-theme .owl-dots .owl-dot span {
        background: transparent;
        border: 1px solid #8e404d;
      }
      .roadmap-desktop .owl-nav .owl-prev,
      .roadmap-desktop .owl-nav .owl-next {
        background: transparent !important;
      }
      .timeline:after,
      .timeline:before {
        content: "";
        clear: both;
        display: block;
      }
      .timeline {
        padding: 0;
        position: relative;
      }
      .timeline > li {
        list-style: none;
        float: left;
        width: 100%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        opacity: 0.4;
        margin: 0 4px 0 0;
        z-index: 1000;
        transition: opacity 0.1s;
        box-shadow: inset 6px 0 14px -4px #000, inset -6px 0 14px -4px #000;
      }
      @media screen and (max-width: 768px) {
        .timeline > li {
          float: unset;
          width: 100%;
        }
      }
      @media screen and (max-width: 767px) {
        .timeline > li {
          padding-top: 30px;
          padding-bottom: 30px;
          margin: 0;
        }
      }
      .timeline-stage {
        text-align: center;
        display: block;
        transform: translateY(-70px);
        text-transform: capitalize;
        font-size: 22px;
        background: #8e404d;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-weight: 600;
        min-height: 30px;
      }
      .timeline > li:before {
        content: "";
        width: 16px;
        height: 16px;
        border: 2px solid #8e404d;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 50px;
        margin: 0 auto 10px;
        background: #000;
        color: #000;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
        position: relative;
        top: 19px;
      }
      .timeline > li:after {
        content: "";
        position: absolute;
        width: 100%;
        background-color: #8e404d;
        top: 25px;
        left: 0;
        z-index: -999;
        transition: all ease-in-out 0.3s;
      }
      .timeline > li:hover {
        color: #555;
        opacity: 1;
      }
      .timeline > li:hover .timeline-stage {
        opacity: 1;
      }
      .timeline > li:hover:before {
        background: #8e404d;
        border: 1px solid #000000;
        outline: 17px solid rgba(255, 255, 255, 0.19);
        box-shadow: 0 0 0 5px #fff;
        height: 13px;
        width: 13px;
      }
      @media screen and (max-width: 768px) {
        .timeline > li:hover:before {
          outline: none;
          box-shadow: 0 0 0 5px #fff, 0 0 0 12px #ffffff30;
        }
      }
      .timeline > li:after {
        background: transparent;
        border-bottom: 4px dotted #8e404d;
      }
      @media screen and (max-width: 767px) {
        .timeline > li:after {
          text-align: center;
          height: 100%;
          margin: 0 auto;
          width: 51%;
          border-right: 4px dotted #8e404d;
          border-bottom: 0;
          inset: 0;
          width: 4px;
        }
      }
      @media screen and (max-width: 767px) {
        .timeline li:last-of-type:after {
          height: 50%;
        }
      }
      .inner-content {
        max-width: 250px;
        margin: 0 auto;
      }
      @media screen and (max-width: 768px) {
        .inner-content {
          background: black;
          padding: 18px 0;
        }
      }
      .inner-content h4 {
        font-weight: 600;
        font-size: 22px;
        background: #8e404d;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      .inner-content ul li {
        font-family: Inder;
        font-weight: 400;
        font-size: 15px;
        color: #8e404d;
        text-align: left;
        list-style: disc;
        padding-bottom: 2px;
        text-transform: capitalize;
      }
      @media screen and (max-width: 1024px) {
        .inner-content ul li {
          list-style-position: inside;
        }
      }
      #roadmap {
        margin-top: -70px;
        padding-top: 70px;
      }
      .roadmap-desktop {
        position: relative;
      }
      .bggradient {
        position: absolute;
        right: 0;
        height: 500px;
        width: 350px;
        background: rgba(0, 0, 0, 0.7215686275);
      }
      .mobile {
        padding: 0;
      }
      .mobile ::marker {
        text-align: center;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity=""
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity=""
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity=""
      crossorigin="anonymous"
    ></script>
    <style>
      .btn-link {
        font-size: 1.2rem;
        font-weight: 400;
        color: #8e404d !important;
        text-decoration: none;
      }
      .card-header {
        padding: 0.75rem 0rem !important;
        border-bottom: 1px solid #8e404d !important;
      }
      .card-body {
        color: #fff;
      }
      table.table {
        color: white;
      }
      .table td,
      .table th {
        text-align: center;
      }
    </style>
    <link rel="stylesheet" href="./css/section.css?v2" />
    <style>
      .hkzEld {
        z-index: 10 !important;
      }
    </style>
  </head>
  <body class="body">
    <div id="app">
      <div class="global">
        <div style="display: none" class="full-screen-nav-container">
          <div style="opacity: 1" class="full-screen-background"></div>
          <div style="opacity: 0" class="full-screen-nav">
            <div class="full-nav-logo-container">
              <img
                src="./src/logo.png"
                loading="lazy"
                style="opacity: 0"
                alt=""
                class="image-20"
              />
              <div
                data-w-id="10ce602a-dcad-335b-ad4c-51584cb28cdb"
                style="
                  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                "
                class="full-sc-nav-close-button"
              >
                <div
                  data-w-id="a4eadc38-a706-0c5a-8814-6015aa94ab47"
                  class="close-button-line"
                ></div>
                <div
                  data-w-id="7fb1517c-0f75-ae53-a8eb-0168cbcf345f"
                  class="close-button-line _2"
                ></div>
              </div>
            </div>
            <div class="full-nav-links">
              
             
            </div>
          </div>
        </div>
        <div class="background-blobs hide">
          <div
            data-w-id="ad0999bb-d9a7-73c5-febf-0a95b3b85124"
            class="blob-1"
            style="
              will-change: transform;
              transform: translate3d(8.66%, -29.343%, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            "
          ></div>
          <div
            data-w-id="5418eda5-9a22-4d3b-29ca-daf0a68b0441"
            class="blob-1 _2"
            style="
              will-change: transform;
              transform: translate3d(-8.66%, 29.343%, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            "
          ></div>
        </div>
        <div
          data-w-id="b00d6571-a4bf-28d2-8448-e7ef7746f5de"
          class="nav-wrapper"
          style="
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
          "
        >
          <div class="container for-nav-full-width">
            <div class="nav">
              <a href="#" class="div-block-2 w-inline-block">
                <img
                  src="./src/logo.png"
                  loading="lazy"
                  sizes="(max-width: 479px) 120px, 100vw"
                  srcset="
                    ./src/logo.png 500w,
                    ./src/logo.png                                                                                        511w
                  "
                  alt=""
                  class="image-4"
                />
              </a>
              <div
                id="w-node-b00d6571-a4bf-28d2-8448-e7ef7746f5e1-ef16cb39"
                class="div-block"
              >
                <a
                  data-w-id="b00d6571-a4bf-28d2-8448-e7ef7746f5e2"
                  href="#"
                  class="nav-item-container menu-button w-inline-block"
                >
                  <div class="menu-button">
                    <div
                      data-w-id="b00d6571-a4bf-28d2-8448-e7ef7746f5e6"
                      style="
                        transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1)
                          rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                          skew(0deg, 0deg);
                        transform-style: preserve-3d;
                      "
                      class="menu-line"
                    ></div>
                    <div
                      data-w-id="b00d6571-a4bf-28d2-8448-e7ef7746f5e7"
                      style="
                        transform: translate3d(-50%, 0px, 0px) scale3d(1, 1, 1)
                          rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                          skew(0deg, 0deg);
                        transform-style: preserve-3d;
                      "
                      class="menu-line _2"
                    ></div>
                    <div
                      data-w-id="b00d6571-a4bf-28d2-8448-e7ef7746f5e8"
                      style="
                        transform: translate3d(-80%, 0px, 0px) scale3d(1, 1, 1)
                          rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                          skew(0deg, 0deg);
                        transform-style: preserve-3d;
                      "
                      class="menu-line _3"
                    ></div>
                  </div>
                </a>
                <a
                  href="#"
                  target="_blank"
                  class="nav-item-container w-inline-block"
                >
                  <div class="nav-font">Home</div>
                  <div
                    class="nav-hover-line"
                    style="
                      transform: translate3d(-150%, 0px, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
                  ></div>
                </a>
                <a
                  href="#"
                  target="_blank"
                  class="nav-item-container w-inline-block"
                >
                  <div class="nav-font">Tokenomics</div>
                  <div
                    class="nav-hover-line"
                    style="
                      transform: translate3d(-150%, 0px, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
                  ></div>
                </a>
                <a
                  data-w-id="08098077-2ef4-7a8c-e0b4-ec37b765d365"
                  href="#"
                  class="nav-expand-button w-inline-block"
                  style="opacity: 1"
                >
                  <div class="nav-line"></div>
                  <div class="nav-line _2"></div>
                  <div class="nav-line _3"></div>
                </a>
              </div>
              <button
                v-if="!metamaskAccount"
                @click.prevent="onConnect"
                class="button no-mobile w-inline-block"
              >
                Connect Wallet
              </button>
              <button
                v-else
                @click.prevent="onDisconnect"
                class="button no-mobile w-inline-block"
              >
                Disconnect
              </button>
            </div>
          </div>
        </div>
        <div
          data-w-id="192b2a27-e482-ab6f-3059-0120294a4196"
          style="
            transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1)
              rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            filter: blur(8px);
            transform-style: preserve-3d;
          "
          class="page-loader-container"
        >
          <div class="entrance-logo-container">
            <img
              src="./src/logo.png"
              loading="lazy"
              style="opacity: 1"
              data-w-id="58d33401-a54f-84bf-fc3b-ac8252d18d66"
              alt=""
              class="toshi-head"
            />
            <img
              loading="lazy"
              style="
                transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                opacity: 1;
                transform-style: preserve-3d;
              "
              data-w-id="f7d5d8b3-8799-114d-0a2a-5d49aec15005"
              alt=""
              class="toshi-left-piece"
            />
            <img
              loading="lazy"
              style="
                transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                opacity: 1;
                transform-style: preserve-3d;
              "
              data-w-id="9d9c5aa5-053b-469f-6f86-f8070b5dfc65"
              alt=""
              class="toshi-right-piece"
            />
          </div>
        </div>
      </div>
      <div style="display: none" class="full-screen-portal new-full-screen-nav">
        <div class="link-page-nav">
          <a href="#" class="link-block-2 w-inline-block">
            <div
              data-w-id="693b153d-39be-37fd-5419-dd7ca0a4c424"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
              class="full-sc-nav-close-button for-full-screen-nav"
            >
              <div class="close-button-line"></div>
              <div class="close-button-line _2"></div>
            </div>
          </a>
        </div>
        <div class="links-page-hero-container new-nav">
          <div class="links-page-hero">
            <div class="link-page-grid">
              <div
                id="w-node-_61b0ade9-665d-be77-ec2b-edbdb0c3d2ad-ef16cb39"
                class="link-page-graphics"
              >
                <div
                  data-poster-url=""
                  data-video-urls="./src/logo.png,./src/logo.png"
                  data-autoplay="true"
                  data-loop="true"
                  data-wf-ignore="true"
                  class="background-video-17 w-background-video w-background-video-atom"
                >
                  
                </div>
                <div class="link-page-graphics-text">
                  <p class="paragraph-2 links-page-p">
                    A Decentralized Liquidity Aggregator For Web3



                  </p>
                  <a
                    href="#how-to-buy"
                    class="whitepaper-website-link for-links-page"
                    >How To Buy &gt;</a
                  >
                </div>
              </div>
              <div
                id="w-node-_61b0ade9-665d-be77-ec2b-edbdb0c3d2bf-ef16cb39"
                class="link-page-links"
              >
                <a
                  href="#"
                  class="link-page-individual-link website w-inline-block"
                  style="background-color: rgb(0, 0, 0)"
                >
                  <div
                    class="link-page-inidividual-link-font"
                    style="color: rgb(255, 255, 255)"
                  >
                    Home
                  </div>
                
                <a
                  href="https://twitter.com/TokenNgu?t=XWf9ocPvHYv1XHLUauxgXw&s=09"
                  target="_blank"
                  class="link-page-individual-link twitter w-inline-block"
                  style="background-color: rgb(0, 0, 0)"
                >
                  <div
                    class="link-page-inidividual-link-font"
                    style="color: rgb(255, 255, 255)"
                  >
                    twitter
                  </div>
                </a>
                <a
                  href="https://t.me/ngupresaleevent"
                  target="_blank"
                  class="link-page-individual-link telegram w-inline-block"
                  style="background-color: rgb(0, 0, 0)"
                >
                  <div
                    class="link-page-inidividual-link-font"
                    style="color: rgb(255, 255, 255)"
                  >
                    telegram
                  </div>
                </a>
                
                
                
                <a
                  href="#"
                  class="link-page-individual-link whitepaper w-inline-block"
                  style="background-color: rgb(0, 0, 0)"
                >
                  <div
                    class="link-page-inidividual-link-font"
                    style="color: rgb(255, 255, 255)"
                  >
                    Whitepaper
                  </div>
                </a>
                <a
                  href="#"
                  class="link-page-individual-link roadmap w-inline-block"
                  style="background-color: rgb(0, 0, 0)"
                >
                  <div
                    class="link-page-inidividual-link-font"
                    style="color: rgb(255, 255, 255)"
                  >
                    Tokenomics
                  </div>
                </a>
                <a
                  href="#"
                  target="_blank"
                  class="link-page-individual-link cg w-inline-block"
                  style="background-color: rgb(0, 0, 0)"
                >
                  <div
                    class="link-page-inidividual-link-font"
                    style="color: rgb(255, 255, 255)"
                  >

                    coinmarketcap
                  </div>
                </a>
                <a
                  href="#"
                  target="_blank"
                  class="link-page-individual-link cmc w-inline-block"
                  style="background-color: rgb(0, 0, 0)"
                >
                  <div
                    class="link-page-inidividual-link-font"
                    style="color: rgb(255, 255, 255)"
                  >
                    coingecko
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div style="display: flex" class="link-page-loader-container">
          <div
            style="
              transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            "
            class="link-loader-left"
          ></div>
          <div
            style="
              transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            "
            class="link-loader-right"
          ></div>
          <div
            style="
              transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            "
            class="link-loader-top"
          ></div>
          <div
            style="display: flex"
            class="mobile-only-line-down-centre-loader"
          ></div>
        </div>
      </div>
      <div class="godspot new">
        <div class="container _2">
          <div class="godspot-info-container hide">
            <img src="./src/logo.png" loading="lazy" alt="" class="image-13" />
            <h1
              class="h1"
              style="
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                opacity: 1;
              "
            >
            Welcome to NGU Token
          </h1>
            <p class="paragraph" style="opacity: 1">
              The cutting-edge Web 3.0 gaming project that revolutionizes the crypto gaming landscape. NGU Token combines the power of blockchain technology and gaming to offer an immersive gaming experience like no other.
            </p>
            <div class="dual-button-container">
              <a href="#" class="button w-inline-block">
                <div class="button-hover-2 front"></div>
                <div class="button-text">Whitepaper</div>
              </a>
              <a
                data-w-id="de4abaf8-4bd9-3394-4964-862318a6eea0"
                href="#"
                class="button black launch-app w-inline-block"
              >
                <div class="button-hover-2 front"></div>
                <div class="button-text">Tokenomics</div>
              </a>
            </div>
            <div class="line"></div>
            <a
              data-w-id="314c4feb-6da9-de2b-73a2-dca7cb66b977"
              href="#"
              class="whitepaper-website-link hide"
              >Whitepaper &gt;</a
            >
            <div class="socials-button-container">
              <a
                href="https://t.me/ngupresaleevent""
                target="_blank"
                class="social-button w-inline-block"
              >
                <img
                  src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/6371a518a2ecca8fd5f2ccc3_toshitgf.png"
                  loading="lazy"
                  alt=""
                  class="social-icon"
                />
              </a>
              <a
                href="https://twitter.com/TokenNgu?t=XWf9ocPvHYv1XHLUauxgXw&s=09"
                target="_blank"
                class="social-button w-inline-block"
              >
                <img
                  src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/637597f35b8d274d22401a91_twittertoshi.png"
                  loading="lazy"
                  alt=""
                  class="social-icon"
                />
              </a>
              <a
                href=""
                target="_blank"
                class="social-button w-inline-block"
              >
                <img
                  src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/638e269a9ed4e53ff74f382f_medium%20logo.png"
                  loading="lazy"
                  alt=""
                  class="social-icon"
                />
              </a>
              <a
                href="#"
                target="_blank"
                class="social-button w-inline-block"
              >
                <img
                  src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/638e2e1163c36e427cf8c110_linktreelogo.png"
                  loading="lazy"
                  alt=""
                  class="social-icon"
                />
              </a>
            </div>
          </div>
          <div class="godspot-info-container grid">
            <div
              id="w-node-ad3e289c-1e8f-769d-3da2-bcd76bc8be44-ef16cb39"
              class="div-block-17"
            >
              <img
                src="./src/logo.png"
                loading="lazy"
                alt=""
                class="image-13"
              />
              <h1
                class="h1 slightly-smaller"
                style="
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                  opacity: 1;
                "
              >
              Welcome to NGU Token

              </h1>
              <p class="paragraph" style="opacity: 1">
                The cutting-edge Web 3.0 gaming project that revolutionizes the crypto gaming landscape. NGU Token combines the power of blockchain technology and gaming to offer an immersive gaming experience like no other.

              </p>
              <div class="dual-button-container">
                <a href="#" class="button w-inline-block">
                  <div class="button-hover-2 front"></div>
                  <div class="button-text">Whitepaper</div>
                </a>
                <a
                  href="#"
                  class="button black launch-app w-inline-block"
                >
                  <div class="button-hover-2 front"></div>
                  <div class="button-text">Tokenomics</div>
                </a>
              </div>
              <div class="line"></div>
              <a
                data-w-id="a2e219ab-6f2b-cadb-389a-6939cb5654ad"
                href="#"
                class="whitepaper-website-link for-godspot hide"
                >Whitepaper &gt;</a
              >
              <a
                href="#"
                class="whitepaper-website-link for-godspot"
                >Smart Contract</a
              >
              <a
                href="#"
                data-w-id="2eadcfc7-6972-a7bb-9d6f-5f2d13e570ed"
                target="_blank"
                class="whitepaper-website-link audit-link"
                >Whitepaper coming soon</a
              >
              <div class="socials-button-container">
                <a
                  href="https://t.me/ngupresaleevent"
                  target="_blank"
                  class="social-button w-inline-block"
                >
                  <img
                    src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/6371a518a2ecca8fd5f2ccc3_toshitgf.png"
                    loading="lazy"
                    alt=""
                    class="social-icon"
                  />
                </a>
                <a
                  href="https://twitter.com/TokenNgu?t=XWf9ocPvHYv1XHLUauxgXw&s=09"
                  target="_blank"
                  class="social-button w-inline-block"
                >
                  <img
                    src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/637597f35b8d274d22401a91_twittertoshi.png"
                    loading="lazy"
                    alt=""
                    class="social-icon"
                  />
                </a>
                <a
                  href="#"
                  target="_blank"
                  class="social-button w-inline-block"
                >
                  <img
                    src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/638e269a9ed4e53ff74f382f_medium%20logo.png"
                    loading="lazy"
                    alt=""
                    class="social-icon"
                  />
                </a>
                <a
                  href="#"
                  target="_blank"
                  class="social-button w-inline-block"
                >
                  <img
                    src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/63c975d0f00f175ac6db8dae_NshXHnzT.png"
                    loading="lazy"
                    alt=""
                    class="social-icon"
                  />
                </a>
                <a
                  href="#"
                  target="_blank"
                  class="social-button w-inline-block"
                >
                  <img
                    src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/63e5427e97956d6be25ee79a_CoinGecko_logo.png"
                    loading="lazy"
                    sizes="(max-width: 479px) 97vw, 30px"
                    srcset="
                      https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/63e5427e97956d6be25ee79a_CoinGecko_logo-p-800.png 800w,
                      https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/63e5427e97956d6be25ee79a_CoinGecko_logo.png       800w
                    "
                    alt=""
                    class="social-icon"
                  />
                </a>
                <a
                  href="#"
                  target="_blank"
                  class="social-button w-inline-block"
                >
                  <img
                    src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/63e54284fd0352236ee77dc8_fsdFHJDBSFDAS.png"
                    loading="lazy"
                    alt=""
                    class="social-icon"
                  />
                </a>
              </div>
              <a
                data-w-id="009b3d5b-bf5d-3459-9890-6b5988f00a6c"
                href="#"
                target="_blank"
                class="button audit-button w-inline-block"
              >
                <div class="button-hover-2 front"></div>
                <div
                  data-w-id="009b3d5b-bf5d-3459-9890-6b5988f00a6e"
                  class="button-text audit-button-text-before-hover"
                  style="display: flex"
                >
                  Whitepaper coming soon
                </div>
                <div
                  data-w-id="d5f004e5-14c2-8913-58eb-4251ac82cd5d"
                  class="button-text audit-text-reveal-on-hover"
                  style="display: none"
                >
                  Whitepaper coming soon
                </div>
              </a>
            </div>
            <div
              id="w-node-b6d07bb1-e04a-a1a9-ac84-132278e7caf1-ef16cb39"
              class="div-block-16"
            >
            <div
            id="presale-box"
            class="rounded-[1.875em] border-2 border-main-green relative z-10"
          >
            <div
              class="py-[1.25em] bg-[rgba(0,0,0,0.41)] px-[1em] sm:px-[2em] z-10 rounded-t-[1.875em]"
            >
              <div class="mb-[1em]">
                <div
                  class="white flex justify-center text-center space-x-[0.5em]"
                >
                  <div class="w-[3em] sm:w-[4.375em]">
                    <div
                      class="font-work-sans text-[1.875em] font-bold"
                      style="color: white"
                    >
                      {{days}}
                    </div>
                    <div
                      class="text-[.7em] sm:text-[0.875em] font-inter font-medium text-[rgba(255,255,255,.6)] uppercase"
                    >
                      Days
                    </div>
                  </div>
                  <div
                    class="font-work-sans text-[1.875em] font-bold"
                    style="color: rgba(255, 255, 255, 0.3)"
                  >
                    :
                  </div>
                  <div class="w-[3em] sm:w-[4.375em]">
                    <div
                      class="font-work-sans text-[1.875em] font-bold"
                      style="color: white"
                    >
                      {{hours}}
                    </div>
                    <div
                      class="text-[.7em] sm:text-[0.875em] font-inter font-medium text-[rgba(255,255,255,.6)] uppercase"
                    >
                      Hours
                    </div>
                  </div>
                  <div
                    class="font-work-sans text-[1.875em] font-bold"
                    style="color: rgba(255, 255, 255, 0.3)"
                  >
                    :
                  </div>
                  <div class="w-[3em] sm:w-[4.375em]">
                    <div
                      class="font-work-sans text-[1.875em] font-bold"
                      style="color: white"
                    >
                      {{minutes}}
                    </div>
                    <div
                      class="text-[.7em] sm:text-[0.875em] font-inter font-medium text-[rgba(255,255,255,.6)] uppercase"
                    >
                      Minutes
                    </div>
                  </div>
                  <div
                    class="font-work-sans text-[1.875em] font-bold"
                    style="color: rgba(255, 255, 255, 0.3)"
                  >
                    :
                  </div>
                  <div class="w-[3em] sm:w-[4.375em]">
                    <div
                      class="font-work-sans text-[1.875em] font-bold"
                      style="color: white"
                    >
                      {{seconds}}
                    </div>
                    <div
                      class="text-[.7em] sm:text-[0.875em] font-inter font-medium text-[rgba(255,255,255,.6)] uppercase"
                    >
                      SECONDS
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-[0.5em]">
                <div
                  class="h-[1.5em] rounded-[3.75em] bg-[rgba(255,255,255,.1)] shadow-[0px_0px_1.25em_rgba(0,0,0,0.05)] relative z-10"
                >
                  <div
                    class="absolute top-0 left-0 h-full bg-main-green rounded-[3.75em] -z-10"
                    style="width: 1%"
                  ></div>
                  <p
                    class="text-white font-inter font-semibold text-[0.875em] text-center h-full flex items-center justify-center z-10"
                  >
                  NGU Presale is Live
                  </p>
                </div>
              </div>
              <p
                class="text-center text-white font-bold font-inter text-[1.125em] mb-[0.25em]"
              >
                USD Raised:$
                <span class="green-light"
                  >{{totalUsdValueForPresale - inSaleUSDvalue}}</span
                >
                / $3,000,000
              </p>
              <p
                class="text-[0.875em] font-inter font-medium text-center opacity-60"
              >
                
              </p>
              <div
                v-if="metamaskAccount"
                class="flex items-center space-x-[1em] mt-[1em]"
              >
                <div
                  class="h-[1px] w-full block primary-gradient undefined"
                ></div>
                <p
                  style="margin-bottom: 0"
                  class="font-inter font-bold text-[1em] text-white whitespace-nowrap"
                >
                  NGU Purchased =
                  <span class="text-main-green">{{userDeposits}}</span>
                </p>
                <div
                  class="h-[1px] w-full block primary-gradient undefined"
                ></div>
              </div>
            </div>
            <div
              class="pb-[1.75em] pt-[1em] px-[1em] sm:px-[2em] z-10 rounded-b-[1.875em]"
            >
              <div class="flex items-center space-x-[1em] mb-[1.2em]">
                <div class="h-[1px] w-full block primary-gradient"></div>
                <p
                  style="margin-bottom: 0"
                  class="font-inter font-bold text-[1em] text-white whitespace-nowrap"
                >
                  1 NGU = {{salePrice}} USD
                </p>
                <div class="h-[1px] w-full block primary-gradient"></div>
              </div>
              <div
                class="grid grid-cols-3 gap-[.8em] sm:gap-[1.1em] mb-[1.5em] items-center"
              >
              
                <button
                  @click="type = 1"
                  :class="type == 1 ? 'bg-main-green text-black' : 'bg-[rgba(0,0,0,.1)] text-white'"
                  class="h-[2.5em] px-[1em] rounded-[3.75em] flex items-center justify-center bg-[rgba(0,0,0,.1)] transition-all duration-300 relative z-10 border-2 border-main-green"
                >
                  <img
                    src="./src/bnb-circle.png"
                    class="h-[1.2em] sm:h-[1.5em] mr-[.4em] sm:mr-[0.75em]"
                    alt="eth-icon"
                  />
                  <span
                    class="font-inter font-bold text-[.8em] sm:text-[0.875em] lh-1"
                    >BNB</span
                  >
                </button>
                <button
                  @click="type = 2"
                  :class="type == 2 ? 'bg-main-green text-black' : 'bg-[rgba(0,0,0,.1)] text-white'"
                  class="h-[2.5em] px-[1em] rounded-[3.75em] flex items-center justify-center bg-[rgba(0,0,0,.1)] transition-all duration-300 relative z-10 border-2 border-main-green"
                >
                  <img
                    src="./src/busd-circle.png"
                    class="h-[1.2em] sm:h-[1.5em] mr-[.4em] sm:mr-[0.75em]"
                    alt="bnb-icon"
                  />
                  <span
                    class="font-inter font-bold text-[.8em] sm:text-[0.875em] lh-1"
                    >BUSD</span
                  >
                </button>
              </div>
              <div class="space-y-[1em] mb-[1.5em]">
                <div class="opacity-100">
                  <label
                    for="1"
                    class="text-[0.875em] font-medium font-inter mb-[.5em] block w-fit cursor-pointer"
                  >
                    <span class="text-[rgba(255,255,255,.59)]">
                      Amount You Pay in
                      <span v-if="type == 1" class="font-bold text-white"
                        >BNB</span
                      >
                      <span v-else class="font-bold text-white">BUSD</span>
                      :
                    </span>
                  </label>
                  <div class="relative">
                    <input
                      type="number"
                      class="presale-input"
                      v-model.number="amount"
                    />
                    <div class="presale-input-icon">
                      <img
                        v-if="type == 1"
                        src="./src/bnb-circle.png"
                        class="w-[48%]"
                        alt="tab-icon"
                      />
                      <img
                        v-else
                        src="./src/busd-circle.png"
                        class="w-[48%]"
                        alt="tab-icon"
                      />
                    </div>
                  </div>
                </div>
                <div>
                  <label
                    class="text-[0.875em] font-medium font-inter mb-[.5em] block w-fit cursor-pointer"
                  >
                    <span class="font-bold text-white">NGU</span>
                    <span class="text-[rgba(255,255,255,.59)]">
                      Amount to Buy</span
                    >
                  </label>
                  <div class="relative">
                    <input
                      type="number"
                      class="presale-input"
                      readonly
                      disabled
                      :value="quantity"
                    />
                    <div class="presale-input-icon">
                      <img
                        src="/src/logo.png"
                        class="w-[60%]"
                        alt="deelance-dee-logo"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="grid sm:grid-cols-1 gap-[1em] sm:gap-[2em] items-stretch text-[86%]"
              >
                <button
                  v-if="metamaskAccount"
                  @click.prevent="onAction"
                  :disabled="isLoading"
                  class="text-[1em] border-2 border-main-green flex text-center justify-center font-bold text-black bg-main-green transition-all duration-200 hover:bg-transparent items-center h-[2.8em] rounded-[3.75em] hover:text-white focus:border-white outline-none"
                >
                  {{isLoading ? 'Loading...' : 'BUY'}}
                </button>
                <button
                  v-else
                  @click.prevent="onConnect"
                  class="text-[1em] border-2 border-main-green flex text-center justify-center font-bold text-black bg-main-green transition-all duration-200 hover:bg-transparent items-center h-[2.8em] rounded-[3.75em] hover:text-white focus:border-white outline-none"
                >
                  CONNECT WALLET
                </button>
                <button
                  @click.prevent="onClaim"
                  :disabled="isLoading"
                  class="text-[1em] border-2 border-main-green flex text-center justify-center font-bold text-white transition-all duration-200 hover:bg-transparent items-center h-[2.8em] rounded-[3.75em] hover:text-white focus:border-white outline-none"
                >
                  {{isLoading ? 'Loading...' : 'Claim Token'}}
                </button>
              </div>
              <div class="flex items-center justify-between mt-[1.2em]">
                <!-- <a class="flex items-center space-x-[.6em] text-[1em]" href="/en/how-to-buy">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M7 4.75c0-0.412 0.338-0.75 0.75-0.75h0.5c0.412 0 0.75 0.338 0.75 0.75v0.5c0 0.412-0.338 0.75-0.75 0.75h-0.5c-0.412 0-0.75-0.338-0.75-0.75v-0.5z"></path><path d="M10 12h-4v-1h1v-3h-1v-1h3v4h1z"></path><path d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z"></path></svg>
                  <span>HOW TO BUY</span> 
                </a> -->
                <button @click.prevent="copyStringToClipboard" class="text-[1em] flex items-center space-x-[.6em]">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M433.941 65.941l-51.882-51.882A48 48 0 0 0 348.118 0H176c-26.51 0-48 21.49-48 48v48H48c-26.51 0-48 21.49-48 48v320c0 26.51 21.49 48 48 48h224c26.51 0 48-21.49 48-48v-48h80c26.51 0 48-21.49 48-48V99.882a48 48 0 0 0-14.059-33.941zM266 464H54a6 6 0 0 1-6-6V150a6 6 0 0 1 6-6h74v224c0 26.51 21.49 48 48 48h96v42a6 6 0 0 1-6 6zm128-96H182a6 6 0 0 1-6-6V54a6 6 0 0 1 6-6h106v88c0 13.255 10.745 24 24 24h88v202a6 6 0 0 1-6 6zm6-256h-64V48h9.632c1.591 0 3.117.632 4.243 1.757l48.368 48.368a6 6 0 0 1 1.757 4.243V112z"></path></svg> 
                  <span>5% Refferal Link</span>
                </button>
              </div>
            </div>
            <div
              class="absolute top-0 left-0 w-full h-full bg-hero-bg backdrop-blur-[15px] -z-10 rounded-[1.875em]"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div
          data-poster-url="./src/vid.mp4"
          data-autoplay="true"
          data-loop="true"
          data-wf-ignore="true"
          data-w-id="cb51501b-6189-941e-5773-c50940c1c24b"
          class="background-video-3 new-home w-background-video w-background-video-atom "
          style="will-change: opacity; opacity: 0.5"
        >
          <video
            id="cb51501b-6189-941e-5773-c50940c1c24b-video"
            autoplay=""
            loop=""
            style="
              background-image: url('./src/vid.mp4');
            "
            muted=""
            playsinline=""
            data-wf-ignore="true"
            data-object-fit="cover"
          >
            <source src="./src/vid.mp4" data-wf-ignore="true" />
            <source src="./src/vid.mp4" data-wf-ignore="true" />
          </video>
        </div>
        <div
          data-poster-url="./src/vid.mp4"
          data-autoplay="true"
          data-loop="true"
          data-wf-ignore="true"
          data-w-id="9a740b36-78ed-2e74-f262-782c57ee98f9"
          class="background-video-3 _2 hide-for-testing w-background-video w-background-video-atom"
          style="will-change: opacity; opacity: 0"
        >
          <video
            id="9a740b36-78ed-2e74-f262-782c57ee98f9-video"
            autoplay=""
            loop=""
            style="
              background-image: url('./src/vid.mp4');
            "
            muted=""
            playsinline=""
            data-wf-ignore="true"
            data-object-fit="cover"
          >
            <source src="./src/vid.mp4" data-wf-ignore="true" />
            <source src="./src/vid.mp4" data-wf-ignore="true" />
          </video>
          </div>
 
        </div>
      </div>
     
      </section>
      <div id="how-to-buy" class="how-to-buy">
        <div class="container">
          <div class="how-to-buy-grid">
            <div
              id="w-node-c5d8f513-6d48-e4e2-14ae-a92ca60e4376-ef16cb39"
              class="how-to-buy-text"
            >
              
              <h1 class="paragraph" style="opacity: 1">
                To purchase with mobile phones:
                <br />
                <br />

                1. Copy and paste NGU website link to Trustwallet, metamask, tokenpocket or any wallet Dapp”
                <br />
                <br />

                2. Connect your wallet to the “presale widget”
                <br />
                <br />

                3. Determine your method of payment: BNB Or BUSD
                <br />
                <br />

                4. Select the number of NGU tokens to purchase
                <br />
                <br />

                5. Approve and BUY your NGU 
                <br />
                <br />
                5. Review the gas fee and confirm your purchase
                <br />
                <br />
                 Connection on mobile will come back to normal when wallet connect update liberaries
                <br />
                <br />
              </h1>
              <a
                href="#"
                target="_blank"
                class="button black for-how-to-buy w-inline-block"
              >
                <div class="button-hover-2 front"></div>
                <div class="button-text">Buy Now</div>
              </a>
            </div>
            <div class="how-to-buy-image-buy">
              <img src="./src/logo.png" alt=""/>
            </div>
          </div>
        </div>
        
      </div>
      <div class="footer-container">
        <div class="div-block-12">
          <div
            data-poster-url="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/6371a51171bc73b932c06703_highquality toshitoolsvid-poster-00001.jpg"
            data-video-urls="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/6371a51171bc73b932c06703_highquality toshitoolsvid-transcode.mp4,https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/6371a51171bc73b932c06703_highquality toshitoolsvid-transcode.webm"
            data-autoplay="true"
            data-loop="true"
            data-wf-ignore="true"
            class="w-background-video w-background-video-atom"
          >
           
          </div>
        </div>
        <div class="container">
          <div class="footer-content">
            <img src="./src/logo.png" loading="lazy" alt="" class="image-18" />
            <p class="paragraph" style="opacity: 1">
              NGU TOKEN
            </p>
            <div class="social-icon-container">
              <a
                href="https://t.me/ngupresaleevent"
                target="_blank"
                class="social-button w-inline-block"
              >
                <img
                  src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/6371a518a2ecca8fd5f2ccc3_toshitgf.png"
                  loading="lazy"
                  alt=""
                  class="social-icon"
                />
              </a>
              <a
                href="https://twitter.com/TokenNgu?t=XWf9ocPvHYv1XHLUauxgXw&s=09"
                target="_blank"
                class="social-button w-inline-block"
              >
                <img
                  src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/637597f35b8d274d22401a91_twittertoshi.png"
                  loading="lazy"
                  alt=""
                  class="social-icon twitter"
                />
              </a>
              <a
                href="#"
                target="_blank"
                class="social-button w-inline-block"
              >
                <img
                  src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/638e269a9ed4e53ff74f382f_medium%20logo.png"
                  loading="lazy"
                  alt=""
                  class="social-icon"
                />
              </a>
              <a
                href="#"
                target="_blank"
                class="social-button w-inline-block"
              >
                <img
                  src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/63c975d0f00f175ac6db8dae_NshXHnzT.png"
                  loading="lazy"
                  alt=""
                  class="social-icon"
                />
              </a>
              <a
                href="#"
                target="_blank"
                class="social-button w-inline-block"
              >
                <img
                  src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/63e5427e97956d6be25ee79a_CoinGecko_logo.png"
                  loading="lazy"
                  sizes="(max-width: 479px) 81vw, 30px"
                  srcset="
                    https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/63e5427e97956d6be25ee79a_CoinGecko_logo-p-800.png 800w,
                    https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/63e5427e97956d6be25ee79a_CoinGecko_logo.png       800w
                  "
                  alt=""
                  class="social-icon"
                />
              </a>
              <a
                href="#"
                target="_blank"
                class="social-button w-inline-block"
              >
                <img
                  src="https://uploads-ssl.webflow.com/62cdb9722a8b9878682caf64/63e54284fd0352236ee77dc8_fsdFHJDBSFDAS.png"
                  loading="lazy"
                  alt=""
                  class="social-icon"
                />
              </a>
            </div>
            
            
          </div>
        </div>
      </div>
      
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/web3modal@1.9.0/dist/index.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/@walletconnect/web3-provider@1.5.1/dist/umd/index.min.js"
    ></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="./js/core.js" type="text/javascript"></script>
    <script src="./js/main.js" type="text/javascript"></script>
  </body>
</html>
