body {
  color: #f5ebe0;
  background-image: url(../assets/bg.jpg);
}
.navbar {
  padding: 0;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 70px;
}
p.subtitle {
  font-size: 16px;
  font-weight: bolder;
  padding: 10px;
  background: #534255;
}
.btn {
  border-color: #534255;
  background-color: #534255;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:disabled,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #534255;
  border-color: #534255;
  opacity: 0.8;
}
.btn-primary.disabled, .btn-primary:disabled{
  cursor: not-allowed;
}
.input-group-text {
  border-color: #534255;
  background-color: #534255;
}
label {
  margin-bottom: 0;
}
.card {
  border: none;
}
.card-body {
  border: 1px solid white;
  border-top: none;
  background-color: rgb(132 142 198);
}
.card-header {
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #534255;
  border-top: 1px solid #534255;
}
.main-img {
  width: 400px;
  height: 400px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .main-img {
    width: 300px;
    height: 300px;
  }
  .btn {
    font-size: 14px;
  }
}
