body {
 /*   background-image: url("backgound.jpg") !important; */
    background: radial-gradient(
        94.38% 84.15% at 1.64% 1.92%,
        #ecffff 0,
        #f2f4f8 40.62%,
        #eaeff8 100%
      );
}

.container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

.navbar {
    padding: 30px 0;
}

.navbar-brand {
    margin: 0;
}

p {
    font-size: 0.75rem;
    margin-bottom: 0;
}

.btn {
    font-size: 15px;
    font-weight: 600;
    padding: 6px 30px;
    line-height: 1.5;
    border-radius: 30px;
    outline: none;
    text-transform: uppercase;
    box-shadow: none !important;
}

.btn-sm {
    font-size: 12px;
    font-weight: 500;
    padding: 4px 10px;
}

.btn-primary {
    border: none;
    background-color: black;
}

.btn-outline-primary:hover {
    color: #007bff;
    background-color: #fff;
}

.dropdown-menu {
    margin-top: 10px;
    width: 208px;
    border-radius: 14px;
}

.dropdown-item {
    font-size: 14px;
    padding: .4rem 1rem;
}

img {
    border-radius: 1rem;
}

img.l {
    border-radius: 0rem;
}

img.nft {
    border: 1px solid rgba(0, 0, 0, .125) !important;

}

.check {
    position: absolute;
    top: -7px;
    left: 50%;
    width: 20px;
    transform: translate(-7px, 0);
}

.cursor-pointer {
    cursor: pointer !important;
}

.badge {
    float: right;
    margin-top: 3px;
}

.progress {
    height: 12px;
}

.progress-bar {
    background: black;
}

.card {
    height: 100%;
    border-radius: 0.75rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card-body {
    padding: 1rem;
}

.card-subtitle {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: rgb(33, 37, 41);
}

.card-title {
    color: rgb(75, 85, 99);
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.25rem;
}

.card-text {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: rgb(33, 37, 41);
}

li {
    font-size: 13px;
    font-weight: 600;
    color: rgb(107, 114, 128);
    list-style: disc;
    margin-bottom: 8px;
    margin-left: 12px;
}

.text-red {
    color: red;
}

footer {
    padding: 40px 0;
}

.toasted-container .toasted {
    color: white !important;
    padding: 20px 20px !important;
    background: black !important;
    border-radius: 0.75rem !important;
    border: 1px solid rgba(0, 0, 0, .125) !important;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%) !important;
}

/*::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
}*/


@media (max-width: 576px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .btn-primary {
        margin-top: 30px;
    }
}