<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,user-scalable=no">

    <!-- [TINY SLIDER] -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

    <!-- [STYLESHEETs] -->
    <link href="assets/css/slider.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <title>MetaB10nic</title>
</head>

<body>

    <div id="app">
        <div id="project">
            <div id="home">

                <!-- [HER SECTION] ------------ -->
                <section id="hero">
                    <header class="container header row">
                        <div class="logo row">
                            <a href="#" class="logo-img"><img src="assets/images/logo.png" alt="Logo"></a>
                        </div>
                        <div class="socialnav row">
                            <div class="link"><a href="https://twitter.com/metab10nicnft?s=21" name="twitternav"
                                    target="_blank" class="twitter row"></a>
                            </div>
                            <!---->
                            <div class="link"><a href="https://discord.gg/metab10nic" name="discordnav" target="_blank"
                                    class="discord row"></a></div>
                        </div>
                    </header>
                    <!-- (uncomment later) <a class="hero-main-btn clickable" href="#" target="_blank"> --->
                    <div class="element">
                        <!-- (uncomment later) <div class="text">OpenSea</div> -->
                    </div>
                    </a>
                    <div class="header-image">
                        <img src="assets/images/hero-img.png" alt="Robot" id="hero-img">
                    </div>
                    <div style=" position: absolute; bottom: 50px; left: 50%; transform: translate(-50%, 0);">
                        <div class="unique ">
                            <h2 class="text-center">
                                <div>Mint B10NIC</div>
                            </h2>
                            <h2 v-if="totalSupply" class="text-center">
                                <div>{{totalSupply}} / {{maxSupply}}</div>
                            </h2>
                        </div>
                        <div class="text-center">
                            <label for="">Minting Quantity</label><br>
                            <input type="number" v-model="mintAmount" placeholder="Enter minting quantity">
                        </div>
                        <div class="text-center">
                            <button v-if="!metamaskAccount" class="mb-4 btn-connect" @click.prevent="onConnect"><span
                                    class="dot"></span>Connect Wallet</button>
                            <button v-else class="btn-connect" @click.prevent="mintToken"><span
                                    class="dot"></span>Mint</button>
                        </div>

                    </div>
                </section>

                <!-- [UNIQUE SECTION] -->
                <section class="unique-container container row">
                    <div class="unique ">
                        <h2>
                            <div class="degrade">5,499 B10NIC Villains</div>
                        </h2>
                        <p>Light and dark. Protagonist and antagonist. The villains and heroes of B10nica were no
                            different from the usual script.
                            The eternal conflict between the two sides forced the evolution of several unique
                            characteristics shared between them and an "Essence" to guide their vessel; the B10nic.
                            Hidden behind infinite layers of metamorphosed cells, a B10nic’s true essence was previously
                            invisible to the naked eye.
                            However, with the creation of the so called Metaverse, a shift in the paradigm was
                            inevitable...</p>
                        <p>Now, a B10nic’s essence radiates through several disruptions of its body, creating a power
                            system between the ranks.</p>
                    </div>
                    <div class="unique_example">
                        <video class="various" autoplay loop muted>
                            <source src="assets/gif-video.mov" type="video/mp4">
                        </video>
                        <div class="unique_example_img">
                            <img src="assets/images/toy.png" alt="image" class="img_normal">
                            <img src="assets/images/toy-illuminate.png" alt="image" class="img_illum">
                        </div>
                    </div>
                </section>


                <!-- ---------------------------- -->
                <!-- [SLIDER] ------------ -->
                <section id="slider">
                    <section class="slider__container">
                        <div class="slider__container__viewport">
                            <ol class="slider__container__track slider-actor">
                                <li class="slider__container__slide active-slide">
                                    <div class="slider__container__item"><img src="assets/images/slider-img-1.jpeg"
                                            alt="Robot 01">
                                    </div>
                                </li>
                                <li class="slider__container__slide">
                                    <div class="slider__container__item"><img src="assets/images/slider-img-2.jpeg"
                                            alt="Robot 02">
                                    </div>
                                </li>
                                <li class="slider__container__slide">
                                    <div class="slider__container__item"><img src="assets/images/slider-img-3.jpeg"
                                            alt="Robot 03">
                                    </div>
                                </li>
                                <li class="slider__container__slide">
                                    <div class="slider__container__item"><img src="assets/images/slider-img-4.jpeg"
                                            alt="Robot 04">
                                    </div>
                                </li>
                                <li class="slider__container__slide">
                                    <div class="slider__container__item"><img src="assets/images/slider-img-5.jpeg"
                                            alt="Robot 05">
                                    </div>
                                </li>
                                <li class="slider__container__slide">
                                    <div class="slider__container__item"><img src="assets/images/slider-img-6.jpeg"
                                            alt="Robot 06">
                                    </div>
                                </li>
                                <li class="slider__container__slide">
                                    <div class="slider__container__item"><img src="assets/images/slider-img-7.jpeg"
                                            alt="Robot 07">
                                    </div>
                                </li>
                                <li class="slider__container__slide">
                                    <div class="slider__container__item"><img src="assets/images/slider-img-8.jpeg"
                                            alt="Robot 08">
                                    </div>
                                </li>
                                <li class="slider__container__slide">
                                    <div class="slider__container__item"><img src="assets/images/slider-img-9.jpeg"
                                            alt="Robot 09">
                                    </div>
                                </li>
                            </ol>
                        </div>

                        <!-- [SLIDER CONTROLS] -->
                        <ol class="slider__container__pagination slider-actor-pagination">
                            <li class="slider__container__pagination-item"><button type="button"
                                    class="slider__container__pagination-button"></button></li>
                            <li class="slider__container__pagination-item"><button type="button"
                                    class="slider__container__pagination-button"></button></li>
                            <li class="slider__container__pagination-item"><button type="button"
                                    class="slider__container__pagination-button"></button></li>
                            <li class="slider__container__pagination-item"><button type="button"
                                    class="slider__container__pagination-button"></button></li>
                            <li class="slider__container__pagination-item"><button type="button"
                                    class="slider__container__pagination-button"></button></li>
                            <li class="slider__container__pagination-item"><button type="button"
                                    class="slider__container__pagination-button"></button></li>
                            <li class="slider__container__pagination-item"><button type="button"
                                    class="slider__container__pagination-button"></button></li>
                            <li class="slider__container__pagination-item"><button type="button"
                                    class="slider__container__pagination-button slider__container__pagination-button--active"></button>
                            </li>
                            <li class="slider__container__pagination-item"><button type="button"
                                    class="slider__container__pagination-button"></button></li>
                        </ol>
                    </section>
                </section>



                <!-- [ROADMAP] ------------ -->
                <section id="roadmap" class="column">
                    <div class="decal container">
                        <h2>Roadmap</h2>
                        <p class="intro">
                            Being a part of the MetaB10nic project automatically creates a division between the so
                            called holders.
                            Both however have the same ultimate goal of rebuilding B10nica. Have it be Decentraland,
                            Sandbox
                            or even NFT Worlds, the options are limitless, but shall be decided upon with the creation
                            of the B10nic council [DAO]. $tokens being the national currency of our promised land, the
                            economy
                            of B10nica shall thrive through trade in its very own markets and festivals.</p>
                        <div class="middle row relative">
                            <div class="timeline column">
                                <div class="line">
                                    <div class="progression"></div>
                                </div>
                                <div class="step row done">
                                    <div class="dot">
                                        <div class="shape"></div>
                                    </div>
                                    <div class="details">
                                        <div class="title row">
                                            <div class="number degrade">10% Minted</div>
                                            <h3></h3>
                                        </div>
                                        <p>
                                            <span class="bold">5 B10nics minted & airdropped to random holders
                                                <br><span class="bold">+
                                                    <br>1 eth to a random holder</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="step row">
                                    <div class="dot">
                                        <div class="shape"></div>
                                    </div>
                                    <div class="details">
                                        <div class="title row">
                                            <div class="number degrade">25% Minted</div>
                                            <h3></h3>
                                        </div>
                                        <p>
                                            <span class="bold">10 B10nics minted & airdropped to random holders
                                                <br>+
                                                <br>3 eth to random holders [ 1 eth each ]</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="step row">
                                    <div class="dot">
                                        <div class="shape"></div>
                                    </div>
                                    <div class="details">
                                        <div class="title row">
                                            <div class="number degrade">40% Minted</div>
                                            <h3></h3>
                                        </div>
                                        <p><span class="bold">
                                                15 B10nics minted and airdropped to random holders
                                                <br>+
                                                <br>5 eth donated to 2 charities of choice [ 2.5 eth each ]
                                                <br>+
                                                <br>5 eth to random holders [ 1 eth each ]</span></p>
                                    </div>
                                </div>
                                <div class="step row">
                                    <div class="dot">
                                        <div class="shape"></div>
                                    </div>
                                    <div class="details">
                                        <div class="title row">
                                            <div class="number degrade">60%</div>
                                            <h3></h3>
                                        </div>
                                        <p>
                                            <span class="bold">
                                                <br>20 B10nics minted and airdropped to random holders
                                                <br>+
                                                <br>5 eth to 2 charities of choice [ 2.5 eth each ]
                                                <br>+
                                                <br>community wallet created and 5 eth added</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="step row">
                                    <div class="dot">
                                        <div class="shape"></div>
                                    </div>
                                    <div class="details">
                                        <div class="title row">
                                            <div class="number degrade">80% Minted</div>
                                            <h3></h3>
                                        </div>
                                        <p><span class="bold">
                                                <br>B10nic merch created and sent to og holders
                                                <br>+
                                                <br>10 eth to 4 charities of choice [ 2.5 eth each ]
                                                <br>+
                                                <br>10 eth added to community wallet
                                                <br>+
                                                <br>collaborations on 1/1 b10nics; auctioned to community</span></p>
                                    </div>
                                </div>
                                <div class="step row">
                                    <div class="dot">
                                        <div class="shape"></div>
                                    </div>
                                    <div class="details">
                                        <div class="title row">
                                            <div class="number degrade">100% Minted</div>
                                            <h3></h3>
                                        </div>
                                        <p>
                                            <span class="bold">
                                                <br>5 eth dedicated to sweep the floor
                                                <br>+
                                                <br>$token launched
                                                <br>+
                                                <br>community decided milestone celebrations
                                                <br>+
                                                <br>The War Was Never Over… V2 drop</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div id="helmet">
                                    <img src="assets/images/pink-normal.png" alt="illum-image" class="img_normal">
                                    <img src="assets/images/pink-bloom.png" alt="illum-image" class="img_illum">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



                <!-- [TEAM SECTION] -->
                <section id="team" class="container">
                    <div class="intro row">
                        <div class="title">
                            <div class="question ">Who Are We?</div>
                            <div class="answer degrade">Meet The Team</div>
                            <div class="bot">
                                <img src="assets/images/yellow-normal.png" alt="" class="img_normal">
                                <img src="assets/images/yellow-bloom.png" alt="" class="img_illum">
                            </div>
                        </div>
                        <div class="presentation sr-right-supe">
                            <!-- (remove comment later if you want) <p>paragraph to the right of "meet the team"</p> --->
                        </div>
                    </div>
                    <div class="team-grid">

                        <div class="who column">
                            <div class="top row">
                                <h2>Mo Omran (artist)</h2>
                                <div class="social row">
                                    <div class="link"><a href="https://twitter.com/moomraan?s=20" target="_blank"
                                            class="network twitter row"></a></div>
                                    <div class="link"><a href="https://instagram.com/moomraan?utm_medium=copy_link"
                                            target="_blank" class="network instagram row"></a></div>
                                </div>
                            </div><img src="assets/images/slider-img-10.jpeg" alt="Profile">
                        </div>

                        <div class="who column">
                            <div class="top row">
                                <h2>Sulto</h2>
                                <div class="social row">
                                    <div class="link"><a href="https://twitter.com/b10nicsulto?s=20" target="_blank"
                                            class="network twitter row"></a></div>
                                    <div class="link"><a href="https://instagram.com/metab10nicnft?utm_medium=copy_link"
                                            target="_blank" class="network instagram row"></a></div>
                                </div>
                            </div><img src="assets/images/slider-img-5.jpeg" alt="Profile">
                        </div>

                        <div class="who column">
                            <div class="top row">
                                <h2>Shiroi</h2>
                                <div class="social row">
                                    <div class="link"><a href="https://twitter.com/9Shiroi?s=20" target="_blank"
                                            class="network twitter row"></a></div>
                                    <div class="link"><a href="https://instagram.com/metab10nicnft?utm_medium=copy_link"
                                            target="_blank" class="network instagram row"></a></div>
                                </div>
                            </div><img src="assets/images/slider-img-11.jpeg" alt="Profile">
                        </div>

                        <div class="who column">
                            <div class="top row">
                                <h2>Lu</h2>
                                <div class="social row">
                                    <div class="link"><a href="https://twitter.com/theuglylu?s=20" target="_blank"
                                            class="network twitter row"></a></div>
                                    <div class="link"><a href="https://instagram.com/theuglylu?utm_medium=copy_link"
                                            target="_blank" class="network instagram row"></a></div>
                                </div>
                            </div><img src="assets/images/slider-img-8.jpeg" alt="Profile">
                        </div>

                        <div class="who column">
                            <div class="top row">
                                <h2>5abaz</h2>
                                <div class="social row">
                                    <div class="link"><a href="https://twitter.com/5abazb10nic?s=20" target="_blank"
                                            class="network twitter row"></a></div>
                                    <div class="link"><a href="https://instagram.com/metab10nicnft?utm_medium=copy_link"
                                            target="_blank" class="network instagram row"></a></div>
                                </div>
                            </div><img src="assets/images/slider-img-4.jpeg" alt="Profile">
                        </div>

                        <div class="who column">
                            <div class="top row">
                                <h2>Tot</h2>
                                <div class="social row">
                                    <div class="link"><a href="https://twitter.com/nftotpot?s=20" target="_blank"
                                            class="network twitter row"></a></div>
                                    <div class="link"><a href="https://instagram.com/metab10nicnft?utm_medium=copy_link"
                                            target="_blank" class="network instagram row"></a></div>
                                </div>
                            </div><img src="assets/images/slider-img-7.jpeg" alt="Profile">
                        </div>

                    </div>

                    <!-- (uncomment later) <div class="team-discord">
                        <a href="https://discord.gg/metab10nic" target="_blank" class="cta">Join our Discord</a> --->
            </div>

            </section>


            <!-- [DISCORD] ------------ -->
            <section id="discord">
                <div class="container">
                    <h2>Join the community</h2>
                    <p>
                        MetaB10nic Discord already has over 7,000 members! If you want to be part of #THEB10NICS,
                        join us to get the news as soon as possible and follow our latest announcements.</p>
                    <div>
                        <a href="https://discord.gg/metab10nic" target="_blank" class="cta">Join our Discord</a>
                    </div>
                </div>
            </section>


            <!-- [FOOTER] ------------ -->
            <footer>
                <div class="container row">
                    <div class="infos column">
                        <div class="blockmark column">
                            <div class="logo row">
                                <a href="#"><img src="assets/images/logo.png"></a>
                            </div>
                            <p class="baseline">5,499 b10nic villains.</p>
                        </div>
                        <p class="copyright">©2022 MetaB10nic. All rights reserved.</p>
                    </div>
                    <div class="right column">
                        <div class="nav column"><a aria-current="page" href="#" class="page-active">Home</a>
                            <a href="#team">Team</a>
                            <a href="faq.html">FAQs</a>
                            <!---->
                        </div>
                        <div class="social row">
                            <div class="link"><a href="https://twitter.com/metab10nicnft?s=21" target="_blank"
                                    name="twitter" class="twitter row"></a></div>
                            <!---->
                            <div class="link"><a href="https://discord.gg/metab10nic" target="_blank" name="discord"
                                    class="discord row"></a></div>
                        </div>
                    </div>
                </div>
            </footer>


        </div>
    </div>
    <!-- [JAVASCRIPT] ------------ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <!-- <script src="assets/js/script.js"></script> -->

    <!-- [Vue, Web3 and Notification libarary] -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script src="./assets/js/index.js"></script>
</body>

</html>