.btn {
  padding-top: 11px;
  padding-bottom: 11px;
}
.btn-box {
  padding-left: 6px;
  padding-right: 6px;
}
/* @media (min-width: 992px) {
  .container {
    max-width: 742px;
  }
} */
.card {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.08);
}
.card-header {
  border-radius: inherit !important;
}
.card-title {
  font-size: 32px;
}
.card-subtitle {
  font-size: 24px;
}
.card-text {
  color: rgba(30, 35, 41, 0.75);
}
@media (min-width: 992px) {
  .card-text {
    font-size: 16px;
  }
}
.community-img {
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
}
