// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #364fcc;
$secondary: #3de4fa;
$accent: #f7f5f5;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #d8e3ff;
$warning: #abb1b1;

$brdr: 1px solid black;
$grey: #abb1b1;

@import "~quasar-variables-styl";
