.q-tabs {
  border-bottom: 2px solid #f1f5f7;
}
.q-tabs__content {
  justify-content: start !important;
}
.q-tab {
  padding: 0 30px;
  min-height: 45px;
}
.q-tab--active {
  font-weight: 800;
  font-family: "Avenir Next Bold" !important;
}
